Repository Climate-REF/ref-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-forbidden-files, mypy, biome-format, biome-lint, typescript-typecheck

backend-forbidden-files:
  name: backend forbidden files
  entry: found Copier update rejection files; review them and remove them
  language: fail

mypy:
  name: mypy (backend)
  entry: make -C backend mypy
  language: system
  pass_filenames: false
  require_serial: true

biome-format:
  name: Biome format (write)
  entry: bash -lc "cd frontend && npx --yes @biomejs/biome check --write"
  language: system
  pass_filenames: true

biome-lint:
  name: Biome lint
  entry: bash -lc "cd frontend && npx --yes @biomejs/biome check"
  language: system
  pass_filenames: true

typescript-typecheck:
  name: TypeScript typecheck
  entry: bash -lc "cd frontend && npx --yes tsc --noEmit"
  language: system
  pass_filenames: false

chore(test): drop the tests for the removed secret guard
  backend/tests/test_core/test_config.py
Due: mypy

chore(deps): bump locked dependencies to clear security advisories
  backend/uv.lock
  changelog/48.trivial.md
  frontend/package-lock.json
Due: biome-format, typescript-typecheck

fix(api): resolve execution artifacts through the results reader
  backend/src/ref_backend/api/routes/executions.py
  backend/src/ref_backend/api/routes/results.py
  backend/src/ref_backend/core/file_handling.py
  changelog/48.fix.md
Due: mypy

refactor(api): build the dataset listing on the shared dataset query
  backend/src/ref_backend/api/routes/datasets.py
  backend/src/ref_backend/models/datasets.py
  backend/tests/test_api/test_routes/test_datasets.py
  changelog/48.improvement.md
Due: mypy

chore: use the real PR number for the changelog fragments
  changelog/49.fix.md
  changelog/49.improvement.md
Due: none

chore(deps): bump @hey-api/openapi-ts and clear the last frontend advisories
  frontend/package-lock.json
  frontend/package.json
  frontend/src/client/@tanstack/react-query.gen.ts
  frontend/src/client/client.gen.ts
  frontend/src/client/client/client.gen.ts
  frontend/src/client/client/index.ts
  frontend/src/client/client/types.gen.ts
  frontend/src/client/client/utils.gen.ts
  frontend/src/client/core/auth.gen.ts
  frontend/src/client/core/params.gen.ts
  frontend/src/client/core/pathSerializer.gen.ts
  frontend/src/client/core/queryKeySerializer.gen.ts
  frontend/src/client/core/serverSentEvents.gen.ts
  frontend/src/client/core/types.gen.ts
  frontend/src/client/core/utils.gen.ts
  frontend/src/client/sdk.gen.ts
Due: biome-format, typescript-typecheck

test: match the name_contains assertion to the ilike filter
  backend/tests/test_api/test_routes/test_datasets.py
Due: mypy

chore: use the real PR number for the changelog fragment
  changelog/48.trivial.md
  changelog/50.trivial.md
Due: none

chore(deps): drop the esbuild override and fix the changelog tense
  changelog/50.trivial.md
  frontend/package-lock.json
  frontend/package.json
Due: biome-format, typescript-typecheck

fix(lint): suppress PLR0917 and align the pre-commit ruff with the lock
  .pre-commit-config.yaml
  backend/src/ref_backend/api/routes/datasets.py
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/src/ref_backend/api/routes/executions.py
  backend/src/ref_backend/core/reader_values.py
  backend/tests/test_core/test_core_aft.py
Due: mypy

fix(api): close the request database session
  backend/src/ref_backend/api/deps.py
  backend/tests/test_api/test_deps.py
Due: mypy

chore: add the changelog fragment
  changelog/51.fix.md
Due: none

refactor: keep one place that owns the shared Database
  backend/src/ref_backend/api/deps.py
  backend/src/ref_backend/main.py
  backend/tests/conftest.py
Due: mypy

fix(api): give each request its own database session
  backend/pyproject.toml
  backend/src/ref_backend/api/deps.py
  backend/tests/test_api/test_deps.py
  backend/uv.lock
  changelog/51.fix.md
Due: mypy

Bump version: 0.4.1 → 0.4.2
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/47.trivial.md
  changelog/49.fix.md
  changelog/49.improvement.md
  changelog/50.trivial.md
  changelog/51.fix.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

feat: support CMIP6 and CMIP7 in parallel
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/src/ref_backend/api/routes/executions.py
  backend/src/ref_backend/core/source_types.py
  backend/src/ref_backend/models/__init__.py
  backend/src/ref_backend/models/datasets.py
  backend/tests/test_api/test_routes/test_datasets.py
  backend/tests/test_api/test_routes/test_diagnostics.py
  frontend/src/client/@tanstack/react-query.gen.ts
  frontend/src/client/index.ts
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/app/welcomeModal.tsx
  frontend/src/components/charts/eraSections.tsx
  frontend/src/components/datasets/filterPanel.tsx
  frontend/src/components/execution/values/valuesFigure.tsx
  frontend/src/components/explorer/content/ensembleChartContent.tsx
  frontend/src/components/explorer/content/seriesChartContent.tsx
  frontend/src/components/explorer/content/taylorDiagramContentWrapper.tsx
  frontend/src/lib/modelEras.test.ts
  frontend/src/lib/modelEras.ts
  frontend/src/lib/sourceTypes.ts
  frontend/src/routes/_app/explorer/route.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

docs: add changelog fragments for CMIP7 support
  changelog/70.breaking.md
  changelog/70.feature.md
  changelog/70.improvement.md
Due: none

fix: stop untagged model values leaking across eras
  backend/src/ref_backend/core/source_types.py
  backend/src/ref_backend/models/datasets.py
  changelog/70.breaking.md
  changelog/70.feature.md
  changelog/70.improvement.md
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/charts/eraSections.tsx
  frontend/src/components/explorer/content/taylorDiagramContentWrapper.tsx
  frontend/src/lib/modelEras.test.ts
  frontend/src/lib/modelEras.ts
Due: mypy, biome-format, biome-lint, typescript-typecheck

fix: stamp every model value with the era of its inputs
  backend/src/ref_backend/api/routes/executions.py
  backend/src/ref_backend/core/reader_values.py
  backend/src/ref_backend/core/source_types.py
  backend/tests/test_api/test_routes/test_diagnostics.py
  changelog/70.feature.md
  frontend/src/components/explorer/content/taylorDiagramContentWrapper.tsx
  frontend/src/lib/modelEras.test.ts
  frontend/src/lib/modelEras.ts
Due: mypy, biome-format, biome-lint, typescript-typecheck

refactor: address review findings on the era helpers
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/src/ref_backend/api/routes/executions.py
  backend/src/ref_backend/core/mip_eras.py
  backend/src/ref_backend/core/reader_values.py
  backend/src/ref_backend/models/datasets.py
  frontend/src/components/explorer/content/taylorDiagramContentWrapper.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

refactor: simplify the era helpers after review
  backend/src/ref_backend/api/routes/executions.py
  backend/src/ref_backend/core/mip_eras.py
  backend/src/ref_backend/core/reader_values.py
  backend/src/ref_backend/models/datasets.py
  backend/tests/test_api/test_routes/test_diagnostics.py
  frontend/src/components/charts/eraSections.tsx
  frontend/src/lib/modelEras.test.ts
  frontend/src/lib/modelEras.ts
Due: mypy, biome-format, biome-lint, typescript-typecheck

refactor: tighten types and drop the duplicated era lists
  backend/src/ref_backend/core/mip_eras.py
  changelog/70.improvement.md
  frontend/src/components/datasets/filterPanel.tsx
  frontend/src/lib/modelEras.ts
  frontend/src/lib/sourceTypes.ts
Due: mypy, biome-format, biome-lint, typescript-typecheck

fix: render a result that holds only reference series
  backend/tests/test_api/test_routes/test_diagnostics.py
  changelog/70.improvement.md
  frontend/src/components/explorer/content/seriesChartContent.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

feat: select the MIP era for a whole explorer page
  backend/src/ref_backend/core/mip_eras.py
  backend/src/ref_backend/models/datasets.py
  backend/tests/test_api/test_routes/test_diagnostics.py
  frontend/src/components/charts/mipEraContext.tsx
  frontend/src/components/charts/mipEraSections.test.tsx
  frontend/src/components/charts/mipEraSections.tsx
  frontend/src/components/charts/mipEraSelector.tsx
  frontend/src/components/execution/values/valuesFigure.tsx
  frontend/src/components/explorer/content/ensembleChartContent.tsx
  frontend/src/components/explorer/content/seriesChartContent.tsx
  frontend/src/components/explorer/content/taylorDiagramContentWrapper.tsx
  frontend/src/lib/mipEras.test.ts
  frontend/src/lib/mipEras.ts
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/explorer.tsx
  frontend/src/routes/_app/explorer/themes.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

docs: add changelog fragments for the MIP era selector
  changelog/71.feature.md
  changelog/71.trivial.md
Due: none

fix: keep unattributed values visible when a page selects an era
  backend/src/ref_backend/core/mip_eras.py
  backend/src/ref_backend/core/reader_values.py
  frontend/src/components/charts/mipEraContext.tsx
  frontend/src/components/charts/mipEraSections.test.tsx
  frontend/src/components/charts/mipEraSections.tsx
  frontend/src/components/execution/values/valuesFigure.tsx
  frontend/src/components/explorer/content/ensembleChartContent.tsx
  frontend/src/components/explorer/content/seriesChartContent.tsx
  frontend/src/components/explorer/content/taylorDiagramContentWrapper.tsx
  frontend/src/components/explorer/thematicContent.tsx
  frontend/src/lib/mipEras.ts
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/explorer.tsx
  frontend/src/routes/_app/explorer/route.tsx
  frontend/src/routes/_app/explorer/themes.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

fix: badge an unattributed chart when a page has selected an era
  frontend/src/components/charts/mipEraSections.test.tsx
  frontend/src/components/charts/mipEraSections.tsx
  frontend/src/components/charts/mipEraSelector.tsx
  frontend/src/lib/mipEras.ts
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/explorer.tsx
  frontend/src/routes/_app/explorer/themes.tsx
Due: biome-format, biome-lint, typescript-typecheck

refactor: make the era comments match what the code does
  backend/src/ref_backend/core/reader_values.py
  frontend/src/components/charts/mipEraSections.test.tsx
  frontend/src/components/charts/mipEraSections.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

refactor: tidy the era selector after the cleanup pass
  changelog/71.feature.md
  frontend/src/components/charts/mipEraContext.tsx
  frontend/src/components/charts/mipEraSections.tsx
  frontend/src/components/charts/mipEraSelector.tsx
  frontend/src/components/explorer/content/seriesChartContent.tsx
Due: biome-format, biome-lint, typescript-typecheck

docs: correct two comments that had drifted from the code
  frontend/src/components/charts/mipEraSections.tsx
  frontend/src/components/explorer/content/seriesChartContent.tsx
Due: biome-format, biome-lint, typescript-typecheck

feat: update logo and branding to the new Climate-REF marks
  frontend/index.html
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-96x96.png
  frontend/public/favicon.ico
  frontend/public/favicon.svg
  frontend/public/logos/REF/REF_RGB_logo_negative.png
  frontend/public/logos/REF/REF_RGB_logo_positive.png
  frontend/public/logos/REF/REF_mark.png
  frontend/public/logos/logo_cmip_ref.png
  frontend/public/site.webmanifest
  frontend/public/web-app-manifest-192x192.png
  frontend/public/web-app-manifest-512x512.png
  frontend/src/components/app/navbarLogo.tsx
  frontend/src/components/app/welcomeModal.tsx
Due: biome-format, biome-lint, typescript-typecheck

fix: carry the Climate-REF rename through the runtime titles
  changelog/73.improvement.md
  frontend/src/components/app/welcomeModal.tsx
  frontend/src/components/explorer/thematicContent.tsx
  frontend/src/hooks/useDocumentTitle.ts
  frontend/src/routes/_app/datasets.$slug.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/explorer.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/figures.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/route.tsx
  frontend/src/routes/_app/executions.$groupId/route.tsx
Due: biome-format, biome-lint, typescript-typecheck

fix: bump the uv base image to match the 3.14 python version
  Dockerfile
Due: none

fix: use a manualChunks function for the rolldown build in vite 8
  frontend/vite.config.ts
Due: biome-format, biome-lint, typescript-typecheck

fix: drop baseUrl and reference the mdx types for typescript 7
  frontend/src/vite-env.d.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
Due: biome-format, biome-lint, typescript-typecheck

chore: add a changelog fragment for the dependency bump
  changelog/69.trivial.md
Due: none

chore: add a changelog fragment for the dependency bump
  changelog/68.trivial.md
Due: none

chore: add a changelog fragment for the dependency bump
  changelog/62.trivial.md
Due: none

Move the executions routes onto the results reader
  backend/src/ref_backend/api/routes/executions.py
  backend/src/ref_backend/models/executions.py
  frontend/README.md
  frontend/openapi-ts.config.ts
  frontend/package.json
  frontend/src/client/@tanstack/react-query.gen.ts
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  scripts/generate-client-sdk.sh
Due: mypy, biome-format, biome-lint, typescript-typecheck

Add changelog fragments for #76
  changelog/76.improvement.md
  changelog/76.trivial.md
Due: none

Path conditions:
  backend-forbidden-files: any of: \.rej$, but not: (?x)^(
    backend/tests/test-data/.*|
    backend/.venv/.*|
    backend/venv/.*|
    frontend/dist/.*|
    frontend/node_modules/.*|
    frontend/public/.*|
    frontend/src/client/.*|
    .*\.gen\.ts$
)$

  mypy: any of: ^backend/ and \.py$ and not ((?x)^(
    backend/tests/test-data/.*|
    backend/.venv/.*|
    backend/venv/.*|
    frontend/dist/.*|
    frontend/node_modules/.*|
    frontend/public/.*|
    frontend/src/client/.*|
    .*\.gen\.ts$
)$
)
  biome-format: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|md|css)$, but not: (?x)^(
    backend/tests/test-data/.*|
    backend/.venv/.*|
    backend/venv/.*|
    frontend/dist/.*|
    frontend/node_modules/.*|
    frontend/public/.*|
    frontend/src/client/.*|
    .*\.gen\.ts$
)$

  biome-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$, but not: (?x)^(
    backend/tests/test-data/.*|
    backend/.venv/.*|
    backend/venv/.*|
    frontend/dist/.*|
    frontend/node_modules/.*|
    frontend/public/.*|
    frontend/src/client/.*|
    .*\.gen\.ts$
)$

  typescript-typecheck: any of: ^frontend/, but not: (?x)^(
    backend/tests/test-data/.*|
    backend/.venv/.*|
    backend/venv/.*|
    frontend/dist/.*|
    frontend/node_modules/.*|
    frontend/public/.*|
    frontend/src/client/.*|
    .*\.gen\.ts$
)$

