Repository Climate-REF/ref-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-forbidden-files, mypy, biome-format, biome-lint, typescript-typecheck

backend-forbidden-files:
  name: backend forbidden files
  entry: found Copier update rejection files; review them and remove them
  language: fail

mypy:
  name: mypy (backend)
  entry: make -C backend mypy
  language: system
  pass_filenames: false
  require_serial: true

biome-format:
  name: Biome format (write)
  entry: bash -lc "cd frontend && npx --yes @biomejs/biome check --write"
  language: system
  pass_filenames: true

biome-lint:
  name: Biome lint
  entry: bash -lc "cd frontend && npx --yes @biomejs/biome check"
  language: system
  pass_filenames: true

typescript-typecheck:
  name: TypeScript typecheck
  entry: bash -lc "cd frontend && npx --yes tsc --noEmit"
  language: system
  pass_filenames: false

feat: render model-vs-reference role from kind and dedup references by reference_id
  frontend/src/components/execution/values/series/utils.test.ts
  frontend/src/components/execution/values/series/utils.ts
  frontend/src/components/explorer/content/seriesChartContent.tsx
  frontend/src/components/explorer/grouping/types.ts
  frontend/src/components/explorer/grouping/utils.test.ts
  frontend/src/components/explorer/grouping/utils.ts
Due: biome-format, biome-lint, typescript-typecheck

feat: honor per-series units and calendar and align series by index value
  frontend/src/components/execution/values/series/seriesCanvas.tsx
  frontend/src/components/execution/values/series/seriesVisualization.tsx
  frontend/src/components/execution/values/series/utils.test.ts
  frontend/src/components/execution/values/series/utils.ts
Due: biome-format, biome-lint, typescript-typecheck

fix: correct series index alignment and null-safe presentation units
  frontend/src/components/execution/values/series/utils.test.ts
  frontend/src/components/execution/values/series/utils.ts
Due: biome-format, biome-lint, typescript-typecheck

docs(changelog): add news fragments for the metric-value contract PR
  changelog/32.breaking.md
  changelog/32.feature.md
Due: none

fix(pre-commit): type-check with tsc -b so build errors are caught
  .pre-commit-config.yaml
Due: none

docs(changelog): add fragment for pre-commit tsc -b fix
  changelog/33.trivial.md
Due: none

chore: add Renovate for frontend and backend dependency updates
  .github/workflows/ci.yml
  renovate.json
Due: none

chore: add changelog fragment for Renovate
  changelog/34.trivial.md
Due: none

chore: set Renovate timezone to Australia/Melbourne
  renovate.json
Due: none

fix: align index-less series by row ordinal in mixed charts
  frontend/src/components/execution/values/series/utils.test.ts
  frontend/src/components/execution/values/series/utils.ts
Due: biome-format, biome-lint, typescript-typecheck

fix: force reference rows non-outlier on the no-source_id fallback path
  backend/src/ref_backend/core/outliers.py
  backend/tests/test_core/test_outliers.py
Due: mypy

feat(backend): adopt climate_ref.results.Reader for metric values
  backend/pyproject.toml
  backend/src/ref_backend/api/deps.py
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/src/ref_backend/api/routes/executions.py
  backend/src/ref_backend/core/reader_values.py
  backend/src/ref_backend/models.py
  backend/tests/test-data/tests.integration.test_cmip7_aft/test_solve_cmip7_aft/db/climate_ref.db
  backend/uv.lock
Due: mypy

docs(changelog): add news fragments for the results-reader adoption
  changelog/39.breaking.md
  changelog/39.trivial.md
Due: none

chore(deps): require climate-ref >=0.16.0
  backend/pyproject.toml
  backend/uv.lock
  changelog/39.breaking.md
Due: none

chore(deps): pin climate-ref to the v0.16.0 tag instead of a commit sha
  backend/pyproject.toml
  backend/tests/test-data/tests.integration.test_cmip7_aft/test_solve_cmip7_aft/db/climate_ref.db
  backend/uv.lock
Due: none

feat(backend): return only promoted diagnostic versions from /values
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/src/ref_backend/api/routes/executions.py
Due: mypy

docs(changelog): drop redundant 39.breaking.md
  changelog/39.breaking.md
Due: none

fix(backend): carry series contract fields through the reader builder
  backend/src/ref_backend/models.py
  backend/tests/test_core/test_metric_values.py
Due: mypy

chore(backend): install climate-ref from PyPI
  backend/pyproject.toml
  backend/tests/test-data/tests.integration.test_cmip7_aft/test_solve_cmip7_aft/db/climate_ref.db
  backend/uv.lock
  changelog/40.trivial.md
Due: none

fix(api): exclude kind from metric-value facets
  backend/src/ref_backend/models.py
  changelog/41.fix.md
Due: mypy

Bump version: 0.3.0 → 0.4.0
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/32.breaking.md
  changelog/32.feature.md
  changelog/33.trivial.md
  changelog/34.trivial.md
  changelog/39.trivial.md
  changelog/40.trivial.md
  changelog/41.fix.md
  changelog/41.trivial.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

chore(backend): drop pre-Reader metric-value code
  backend/src/ref_backend/core/metric_values.py
  backend/src/ref_backend/core/outliers.py
  backend/src/ref_backend/models.py
  backend/tests/test_core/test_metric_values.py
  backend/tests/test_core/test_outliers.py
  changelog/+delete-dead-metric-values.trivial.md
Due: mypy

docs(changelog): number the fragment for PR #42
  changelog/42.trivial.md
Due: none

test(backend): cover reader_values CSV generation
  backend/tests/test_core/test_config.py
  backend/tests/test_core/test_file_handling.py
  backend/tests/test_core/test_reader_values.py
  changelog/+reader-values-tests.trivial.md
Due: mypy

docs(changelog): number the fragment for PR #43
  changelog/43.trivial.md
Due: none

fix(api): return 404/400 for malformed request input instead of 500
  backend/src/ref_backend/api/routes/aft.py
  backend/src/ref_backend/api/routes/datasets.py
  backend/src/ref_backend/api/routes/executions.py
  backend/src/ref_backend/core/json_utils.py
  backend/tests/test_api/test_routes/test_datasets.py
  backend/tests/test_api/test_routes/test_executions.py
  backend/tests/test_core/test_json_utils.py
  changelog/+api-input-handling.fix.md
Due: mypy

docs(changelog): number the fragment for PR #44
  changelog/44.fix.md
Due: none

perf(frontend): memoize ensemble chart statistics
  changelog/+chart-transform-perf.improvement.md
  frontend/src/components/diagnostics/ensembleChart.tsx
  frontend/src/components/execution/values/series/utils.test.ts
  frontend/src/components/execution/values/series/utils.ts
  frontend/src/hooks/useMousePosition.ts
Due: biome-format, biome-lint, typescript-typecheck

docs(changelog): number the fragment for PR #45
  changelog/45.improvement.md
Due: none

chore(backend): bump climate-ref to 0.17.0
  .python-version
  backend/pyproject.toml
  backend/src/ref_backend/builder.py
  backend/tests/test-data/tests.integration.test_cmip7_aft/test_solve_cmip7_aft/db/climate_ref.db
  backend/uv.lock
Due: mypy

docs(changelog): add fragment for PR #46
  changelog/46.improvement.md
Due: none

refactor(backend): drop redundant CV registration
  backend/src/ref_backend/builder.py
  backend/src/ref_backend/testing.py
  changelog/46.improvement.md
Due: mypy

chore(backend): move .python-version into backend
  backend/.python-version
Due: none

Bump version: 0.4.0 → 0.4.1
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/42.trivial.md
  changelog/43.trivial.md
  changelog/44.fix.md
  changelog/45.improvement.md
  changelog/46.improvement.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

chore: hermetic tests, shared value helper and coverage gates
  .env.sample
  .github/workflows/ci.yml
  .gitignore
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/src/ref_backend/api/routes/executions.py
  backend/src/ref_backend/core/config.py
  backend/src/ref_backend/core/diagnostic_metadata.py
  backend/src/ref_backend/core/reader_values.py
  backend/src/ref_backend/models.py
  backend/src/ref_backend/models/__init__.py
  backend/src/ref_backend/models/aft.py
  backend/src/ref_backend/models/common.py
  backend/src/ref_backend/models/datasets.py
  backend/src/ref_backend/models/diagnostics.py
  backend/src/ref_backend/models/executions.py
  backend/src/ref_backend/models/values.py
  backend/src/ref_backend/testing.py
  changelog/42.trivial.md
  frontend/biome.json
  frontend/package-lock.json
  frontend/package.json
  frontend/vitest.config.ts
Due: mypy, biome-format, biome-lint, typescript-typecheck

chore: use the real PR number for the changelog fragment
  changelog/47.trivial.md
Due: none

Removes the dead SQLAlchemy metric value query path
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/src/ref_backend/api/routes/executions.py
  backend/src/ref_backend/core/metric_values.py
  backend/src/ref_backend/core/outliers.py
  backend/src/ref_backend/core/reader_values.py
  backend/src/ref_backend/models/__init__.py
  backend/src/ref_backend/models/values.py
  backend/tests/test_core/test_metric_values.py
  backend/tests/test_core/test_outliers.py
  backend/tests/test_core/test_reader_values.py
  changelog/48.trivial.md
Due: mypy

Path conditions:
  backend-forbidden-files: any of: \.rej$, but not: (?x)^(
    backend/tests/test-data/.*|
    backend/.venv/.*|
    backend/venv/.*|
    frontend/dist/.*|
    frontend/node_modules/.*|
    frontend/public/.*|
    frontend/src/client/.*|
    .*\.gen\.ts$
)$

  mypy: any of: ^backend/ and \.py$ and not ((?x)^(
    backend/tests/test-data/.*|
    backend/.venv/.*|
    backend/venv/.*|
    frontend/dist/.*|
    frontend/node_modules/.*|
    frontend/public/.*|
    frontend/src/client/.*|
    .*\.gen\.ts$
)$
)
  biome-format: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|md|css)$, but not: (?x)^(
    backend/tests/test-data/.*|
    backend/.venv/.*|
    backend/venv/.*|
    frontend/dist/.*|
    frontend/node_modules/.*|
    frontend/public/.*|
    frontend/src/client/.*|
    .*\.gen\.ts$
)$

  biome-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$, but not: (?x)^(
    backend/tests/test-data/.*|
    backend/.venv/.*|
    backend/venv/.*|
    frontend/dist/.*|
    frontend/node_modules/.*|
    frontend/public/.*|
    frontend/src/client/.*|
    .*\.gen\.ts$
)$

  typescript-typecheck: any of: ^frontend/, but not: (?x)^(
    backend/tests/test-data/.*|
    backend/.venv/.*|
    backend/venv/.*|
    frontend/dist/.*|
    frontend/node_modules/.*|
    frontend/public/.*|
    frontend/src/client/.*|
    .*\.gen\.ts$
)$

