Repository Climate-REF/ref-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-forbidden-files, mypy, biome-format, biome-lint, typescript-typecheck

backend-forbidden-files:
  name: backend forbidden files
  entry: found Copier update rejection files; review them and remove them
  language: fail

mypy:
  name: mypy (backend)
  entry: make -C backend mypy
  language: system
  pass_filenames: false
  require_serial: true

biome-format:
  name: Biome format (write)
  entry: bash -lc "cd frontend && npx --yes @biomejs/biome check --write"
  language: system
  pass_filenames: true

biome-lint:
  name: Biome lint
  entry: bash -lc "cd frontend && npx --yes @biomejs/biome check"
  language: system
  pass_filenames: true

typescript-typecheck:
  name: TypeScript typecheck
  entry: bash -lc "cd frontend && npx --yes tsc --noEmit"
  language: system
  pass_filenames: false

feat(explorer): sort box-whisker chart categories by known orderings
  frontend/src/components/diagnostics/ensembleChart.tsx
Due: biome-format, biome-lint, typescript-typecheck

refactor(diagnostics): remove dead code and add memoization to figure gallery
  frontend/src/components/diagnostics/figureGallery.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/scalars.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/series.tsx
Due: biome-format, biome-lint, typescript-typecheck

feat(collections): add explorer card content and remove unused OHC collection
  backend/static/collections/1-5_ocean-heat-content.yaml
  backend/static/collections/3-1_annual-cycle.yaml
  backend/static/collections/3-7_cloud-scatterplots.yaml
  backend/static/collections/4-3_tcre.yaml
  backend/static/collections/4-4_zero-emissions-commitment.yaml
  backend/static/collections/4-5_historical-changes.yaml
  backend/static/collections/5-4_fire-climate-drivers.yaml
  backend/static/collections/themes.yaml
Due: none

refactor(diagnostics): split metadata into per-provider files and surface reference datasets
  README.md
  backend/scripts/generate_metadata.py
  backend/src/ref_backend/core/aft.py
  backend/src/ref_backend/core/collections.py
  backend/src/ref_backend/core/config.py
  backend/src/ref_backend/core/diagnostic_metadata.py
  backend/static/diagnostics/esmvaltool.yaml
  backend/static/diagnostics/ilamb.yaml
  backend/static/diagnostics/metadata.yaml
  backend/static/diagnostics/pmp.yaml
  backend/tests/test_api/test_routes/test_aft.py
  backend/tests/test_core/test_diagnostic_metadata.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/explorer/explorerCardContent.tsx
  frontend/src/components/explorer/thematicContent.tsx
  frontend/src/components/explorer/types.ts
Due: mypy, biome-format, biome-lint, typescript-typecheck

docs: update content
  backend/static/diagnostics/esmvaltool.yaml
  backend/static/diagnostics/ilamb.yaml
  backend/static/diagnostics/pmp.yaml
Due: none

fix: resolve CI failures in frontend typecheck and backend AFT tests
  backend/tests/test_core/test_core_aft.py
  frontend/src/components/execution/values/series/utils.test.ts
Due: mypy, biome-format, biome-lint, typescript-typecheck

fix: add ProxyHeadersMiddleware to preserve HTTPS scheme behind reverse proxy
  backend/src/ref_backend/builder.py
Due: mypy

chore: Undo diagnostic notes
  frontend/src/routes/_app/diagnostics.index.tsx
Due: biome-format, biome-lint, typescript-typecheck

fix: gpp
  backend/static/collections/2-2_gross-primary-production.yaml
  backend/static/collections/5-4_fire-climate-drivers.yaml
Due: none

fix: add type annotation to diagnosticNotes for noteUrl property
  frontend/src/routes/_app/diagnostics.index.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: remove placeholders
  backend/static/collections/2-2_gross-primary-production.yaml
Due: none

chore: Update explorers
  backend/static/collections/1-3_enso.yaml
  backend/static/collections/3-6_cloud-radiative-effects.yaml
  backend/static/collections/4-3_tcre.yaml
Due: none

chore: add series
  backend/static/collections/5-3_global-warming-levels.yaml
  backend/static/collections/5-4_fire-climate-drivers.yaml
  frontend/src/components/execution/values/series/useChartScales.ts
Due: biome-format, biome-lint, typescript-typecheck

chore: fix sea ice
  backend/static/collections/1-6_sea-ice-area.yaml
Due: none

feat: add datetime axis support and diagnostic exclusion filter
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/src/ref_backend/core/config.py
  frontend/src/components/execution/values/series/canvasTooltip.tsx
  frontend/src/components/execution/values/series/seriesCanvas.tsx
  frontend/src/components/execution/values/series/seriesVisualization.tsx
  frontend/src/components/execution/values/series/useChartScales.test.ts
  frontend/src/components/execution/values/series/useChartScales.ts
  frontend/src/components/execution/values/series/useSpatialIndex.ts
  frontend/src/components/execution/values/series/utils.ts
Due: mypy, biome-format, biome-lint, typescript-typecheck

chore: fix ceda and ornl
  frontend/src/components/app/disclaimer.tsx
Due: biome-format, biome-lint, typescript-typecheck

fix: cast xScale.invert result to number in useSpatialIndex
  frontend/src/components/execution/values/series/useSpatialIndex.ts
Due: biome-format, biome-lint, typescript-typecheck

fix(frontend): address explorer feedback issues
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/diagnostics/ensembleChart.tsx
  frontend/src/components/diagnostics/figure.tsx
  frontend/src/components/diagnostics/figureGallery.tsx
  frontend/src/components/explorer/thematicContent.tsx
  frontend/src/lib/latex.ts
  frontend/vite.config.ts
Due: biome-format, biome-lint, typescript-typecheck

test: add tests for latex rendering and season sort ordering
  frontend/src/components/diagnostics/ensembleChart.test.ts
  frontend/src/components/diagnostics/ensembleChart.tsx
  frontend/src/lib/latex.test.ts
Due: biome-format, biome-lint, typescript-typecheck

fix(frontend): add optional pagination to figure gallery
  frontend/src/components/diagnostics/figureGallery.tsx
  frontend/src/components/explorer/content/figureGalleryContent.tsx
Due: biome-format, biome-lint, typescript-typecheck

refactor: address code review findings
  frontend/src/components/diagnostics/ensembleChart.tsx
  frontend/src/components/diagnostics/figure.tsx
  frontend/src/components/diagnostics/figureGallery.tsx
  frontend/src/components/explorer/thematicContent.tsx
  frontend/src/lib/latex.ts
Due: biome-format, biome-lint, typescript-typecheck

fix: address PR review comments
  frontend/src/components/diagnostics/figureGallery.tsx
  frontend/src/lib/latex.ts
Due: biome-format, biome-lint, typescript-typecheck

chore: Add message about state
  README.md
Due: none

feat(frontend): add Explorer tab to diagnostic detail view
  frontend/src/components/explorer/thematicContent.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/explorer.test.ts
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/explorer.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/route.tsx
Due: biome-format, biome-lint, typescript-typecheck

fix(frontend): move explorer filter util and test out of routes directory
  frontend/src/components/explorer/filterExplorerContent.test.ts
  frontend/src/components/explorer/thematicContent.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/explorer.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: add changelog directory and CI check
  .github/workflows/ci.yml
  changelog/19.feature.md
  changelog/README.md
Due: none

chore: add version bump, towncrier, and release workflows
  .github/workflows/bump.yaml
  .github/workflows/release.yaml
  Makefile
  backend/pyproject.toml
  backend/uv.lock
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

fix: address review findings in versioning infrastructure
  .github/workflows/bump.yaml
  .github/workflows/release.yaml
  backend/pyproject.toml
Due: none

fix(frontend): address PR review comments on explorer tab
  frontend/src/components/explorer/filterExplorerContent.test.ts
  frontend/src/components/explorer/thematicContent.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/explorer.tsx
Due: biome-format, biome-lint, typescript-typecheck

fix: address review findings in versioning infrastructure
  .github/workflows/ci.yml
  .github/workflows/release.yaml
  backend/pyproject.toml
  changelog/README.md
Due: none

chore(release): simplify workflow to use GitHub auto-generated notes
  .github/workflows/release.yaml
Due: none

feat(backend): add regex-based CORS origin support
  .env.sample
  backend/src/ref_backend/builder.py
  backend/src/ref_backend/core/config.py
Due: mypy

docs: changelog
  changelog/21.improvement.md
Due: none

chore: update backend and frontend dependencies
  backend/pyproject.toml
  backend/tests/test-data/tests.integration.test_cmip7_aft/test_solve_cmip7_aft/db/climate_ref.db
  backend/uv.lock
  frontend/biome.json
  frontend/index.html
  frontend/package-lock.json
  frontend/public/taylor_diagram.html
  frontend/src/components/execution/values/boxWhiskerShape.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/breadcrumb.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/chart.tsx
  frontend/src/components/ui/collapsible.tsx
  frontend/src/components/ui/command.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/navigation-menu.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/styles/global.css
  scripts/update-test-data.sh
Due: biome-format, biome-lint, typescript-typecheck

fix(ci): update Biome version to 2.4.10 to match local config
  .github/workflows/ci.yml
Due: none

docs: add changelog entry for dependency update
  changelog/22.improvement.md
Due: none

feat: add pagination to metric values endpoints
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/src/ref_backend/api/routes/executions.py
  backend/src/ref_backend/core/metric_values.py
  backend/src/ref_backend/models.py
  backend/tests/test_api/test_routes/test_diagnostics.py
  backend/tests/test_api/test_routes/test_executions.py
  frontend/src/client/@tanstack/react-query.gen.ts
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/dataTable/paginationControls.tsx
  frontend/src/components/execution/values/values.tsx
  frontend/src/hooks/useMetricValues.ts
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/scalars.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/series.tsx
  frontend/src/routes/_app/executions.$groupId/scalar.tsx
  frontend/src/routes/_app/executions.$groupId/series.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

docs: add changelog entry for pagination feature
  changelog/23.feature.md
Due: none

test: add comprehensive pagination test coverage
  backend/tests/test_api/test_routes/test_diagnostics.py
  backend/tests/test_api/test_routes/test_executions.py
  frontend/src/components/dataTable/paginationControls.test.tsx
  frontend/src/hooks/useMetricValues.test.ts
Due: mypy, biome-format, biome-lint, typescript-typecheck

Path conditions:
  backend-forbidden-files: any of: \.rej$, but not: (?x)^(
    backend/tests/test-data/.*|
    backend/.venv/.*|
    backend/venv/.*|
    frontend/dist/.*|
    frontend/node_modules/.*|
    frontend/public/.*|
    frontend/src/client/.*|
    .*\.gen\.ts$
)$

  mypy: any of: ^backend/ and \.py$ and not ((?x)^(
    backend/tests/test-data/.*|
    backend/.venv/.*|
    backend/venv/.*|
    frontend/dist/.*|
    frontend/node_modules/.*|
    frontend/public/.*|
    frontend/src/client/.*|
    .*\.gen\.ts$
)$
)
  biome-format: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|md|css)$, but not: (?x)^(
    backend/tests/test-data/.*|
    backend/.venv/.*|
    backend/venv/.*|
    frontend/dist/.*|
    frontend/node_modules/.*|
    frontend/public/.*|
    frontend/src/client/.*|
    .*\.gen\.ts$
)$

  biome-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$, but not: (?x)^(
    backend/tests/test-data/.*|
    backend/.venv/.*|
    backend/venv/.*|
    frontend/dist/.*|
    frontend/node_modules/.*|
    frontend/public/.*|
    frontend/src/client/.*|
    .*\.gen\.ts$
)$

  typescript-typecheck: any of: ^frontend/, but not: (?x)^(
    backend/tests/test-data/.*|
    backend/.venv/.*|
    backend/venv/.*|
    frontend/dist/.*|
    frontend/node_modules/.*|
    frontend/public/.*|
    frontend/src/client/.*|
    .*\.gen\.ts$
)$

