Repository Climate-REF/ref-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-forbidden-files, mypy, biome-format, biome-lint, typescript-typecheck

.pre-commit-config.yaml:

# Unified pre-commit config for frontend and backend
# See https://pre-commit.com for more information
ci:
  autofix_prs: false
  autoupdate_schedule: quarterly
  autoupdate_branch: pre-commit-autoupdate

# Combine excludes from both subprojects, and keep path scoping in hooks below
exclude: |
  (?x)^(
      backend/tests/test-data/.*|
      backend/.venv/.*|
      backend/venv/.*|
      frontend/dist/.*|
      frontend/node_modules/.*|
      frontend/public/.*|
      frontend/src/client/.*|
      .*\.gen\.ts$
  )$

repos:
  # Shared general-purpose checks across the repo
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
        files: ^backend/
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: [--unsafe]
      - id: debug-statements
        files: ^backend/
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Backend: Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.7
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend: mypy and check that no forbidden files are present
  - repo: local
    hooks:
      - id: backend-forbidden-files
        name: backend forbidden files
        entry: found Copier update rejection files; review them and remove them
        language: fail
        files: "\\.rej$"

      - id: mypy
        name: mypy (backend)
        entry: make -C backend mypy
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
        files: ^backend/

  # Frontend: Biome format + lint
  - repo: local
    hooks:
      - id: biome-format
        name: Biome format (write)
        entry: bash -lc "cd frontend && npx --yes @biomejs/biome check --write"
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|md|css)$
        pass_filenames: true
      - id: biome-lint
        name: Biome lint
        entry: bash -lc "cd frontend && npx --yes @biomejs/biome check"
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true

      # Frontend: TypeScript typecheck
      - id: typescript-typecheck
        name: TypeScript typecheck
        entry: bash -lc "cd frontend && npx --yes tsc --noEmit"
        language: system
        pass_filenames: false
        files: ^frontend/

chore: Rename ocean
  frontend/biome.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/app/errorBoundary.tsx
  frontend/src/components/app/errorFallback.tsx
  frontend/src/components/app/index.ts
  frontend/src/components/app/navbar.tsx
  frontend/src/components/datasets/diagnosticSummaryTable.tsx
  frontend/src/components/diagnostics/diagnosticCard.tsx
  frontend/src/components/diagnostics/diagnosticsFilter.tsx
  frontend/src/components/diagnostics/viewToggle.tsx
  frontend/src/components/explorer/sourceExplorerContent.tsx
  frontend/src/components/explorer/thematicContent.tsx
  frontend/src/routes/__root.tsx
  frontend/src/routes/_app/diagnostics.index.tsx
  frontend/src/routes/_app/executions.index.tsx
  frontend/src/routes/_app/explorer/themes.tsx
  frontend/src/routes/_app/route.tsx
  frontend/src/styles/global.css
Due: biome-format, biome-lint, typescript-typecheck

feat: add series
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/src/ref_backend/api/routes/executions.py
  backend/src/ref_backend/models.py
  frontend/biome.json
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/execution/values/customSeriesToolTip.tsx
  frontend/src/components/execution/values/filterControls.tsx
  frontend/src/components/execution/values/seriesLegendSidebar.tsx
  frontend/src/components/execution/values/seriesVisualization.tsx
  frontend/src/components/execution/values/types.ts
  frontend/src/components/execution/values/values.tsx
  frontend/src/components/execution/values/valuesDataTable.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/values.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

feat: explorer card generation
  frontend/package-lock.json
  frontend/package.json
  frontend/public/logos/funders.png
  frontend/src/components/diagnostics/cardTemplateGenerator.tsx
  frontend/src/components/execution/values/series/seriesLegendSidebar.tsx
  frontend/src/components/execution/values/series/seriesVisualization.tsx
  frontend/src/components/execution/values/series/utils.ts
  frontend/src/components/execution/values/values.tsx
  frontend/src/components/explorer/theme/_components/explorerCard.tsx
  frontend/src/components/explorer/theme/_components/explorerCardContent.tsx
  frontend/src/components/explorer/theme/_components/explorerThemeLayout.tsx
  frontend/src/components/explorer/theme/atmosphere.tsx
  frontend/src/components/explorer/theme/earthSystem.tsx
  frontend/src/components/explorer/theme/impactAndAdaptation.tsx
  frontend/src/components/explorer/theme/land.tsx
  frontend/src/components/explorer/theme/sea.tsx
  frontend/src/components/explorer/types.ts
  frontend/src/components/ui/copyButton.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/hooks/use-toast.ts
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/values.tsx
  frontend/src/routes/content/about.mdx
Due: biome-format, biome-lint, typescript-typecheck

chore: missed some files
  frontend/src/components/diagnostics/cardTemplateGenerator.tsx
  frontend/src/components/execution/values/series/seriesVisualization.tsx
  frontend/src/components/execution/values/series/utils.ts
  frontend/src/components/execution/values/values.tsx
  frontend/src/components/explorer/theme/_components/explorerCard.tsx
  frontend/src/components/explorer/theme/_components/explorerCardContent.tsx
  frontend/src/components/explorer/theme/_components/explorerThemeLayout.tsx
  frontend/src/components/explorer/theme/atmosphere.tsx
  frontend/src/components/explorer/theme/earthSystem.tsx
  frontend/src/components/explorer/theme/impactAndAdaptation.tsx
  frontend/src/components/explorer/theme/land.tsx
  frontend/src/components/explorer/theme/sea.tsx
  frontend/src/components/ui/copyButton.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/values.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: more fixes
  frontend/src/components/diagnostics/cardTemplateGenerator.tsx
  frontend/src/components/diagnostics/diagnosticCard.tsx
  frontend/src/components/diagnostics/ensembleChart.tsx
  frontend/src/components/execution/executionFiles/executionFilesContainer.tsx
  frontend/src/components/execution/executionFiles/outputListTable.tsx
  frontend/src/components/execution/values/series/seriesVisualization.tsx
  frontend/src/components/explorer/content/ensembleChartContent.tsx
  frontend/src/components/explorer/content/figureGalleryContent.tsx
  frontend/src/components/explorer/content/index.ts
  frontend/src/components/explorer/content/seriesChartContent.tsx
  frontend/src/components/explorer/explorerCard.tsx
  frontend/src/components/explorer/explorerCardContent.tsx
  frontend/src/components/explorer/explorerCardPreview.tsx
  frontend/src/components/explorer/types.ts
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/route.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/values.tsx
  frontend/src/routes/_app/executions.$groupId.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: more fixes
  frontend/src/components/diagnostics/cardTemplateGenerator.tsx
  frontend/src/components/diagnostics/comparisonChart.tsx
  frontend/src/components/diagnostics/ensembleChart.tsx
  frontend/src/components/diagnostics/ensembleChartCard.tsx
  frontend/src/components/diagnostics/executionsTable.tsx
  frontend/src/components/execution/executionGroupTable.tsx
  frontend/src/components/execution/values/boxWhiskerShape.tsx
  frontend/src/components/execution/values/groupedBoxWhiskerChart.tsx
  frontend/src/components/execution/values/series/seriesVisualization.tsx
  frontend/src/components/execution/values/series/utils.ts
  frontend/src/components/explorer/content/ensembleChartContent.tsx
  frontend/src/components/explorer/content/figureGalleryContent.tsx
  frontend/src/components/explorer/content/seriesChartContent.tsx
  frontend/src/components/explorer/explorerCard.tsx
  frontend/src/components/explorer/explorerCardPreview.tsx
  frontend/src/components/explorer/theme/atmosphere.tsx
  frontend/src/components/explorer/theme/earthSystem.tsx
  frontend/src/components/explorer/types.ts
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/route.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/values.tsx
  frontend/src/routes/_app/executions.$groupId.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: more fixes
  backend/src/ref_backend/models.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/diagnostics/cardTemplateGenerator.tsx
  frontend/src/components/execution/values/series/seriesVisualization.tsx
  frontend/src/components/execution/values/types.ts
Due: mypy, biome-format, biome-lint, typescript-typecheck

chore: more fixes
  frontend/src/components/execution/values/series/seriesVisualization.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: more fixes
  frontend/src/components/diagnostics/cardTemplateGenerator.tsx
  frontend/src/components/diagnostics/ensembleChartCard.tsx
  frontend/src/components/diagnostics/executionsTable.tsx
  frontend/src/components/execution/executionGroupTable.tsx
  frontend/src/components/execution/values/series/seriesVisualization.tsx
  frontend/src/components/execution/values/types.ts
  frontend/src/components/explorer/explorerCardPreview.tsx
  frontend/src/components/explorer/theme/land.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/values.tsx
Due: biome-format, biome-lint, typescript-typecheck

refactor: Remove the duplicate components
  .vscode/settings.json
  backend/ruff.toml
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/src/ref_backend/core/json_utils.py
  backend/src/ref_backend/models.py
  frontend/src/components/diagnostics/cardTemplateGenerator.tsx
  frontend/src/components/diagnostics/diagnosticFigureGalleryCard.tsx
  frontend/src/components/diagnostics/ensembleChartCard.tsx
  frontend/src/components/execution/values/boxWhiskerShape.tsx
  frontend/src/components/execution/values/series/seriesVisualization.tsx
  frontend/src/components/execution/values/valuesFigure.tsx
  frontend/src/components/explorer/content/ensembleChartContent.tsx
  frontend/src/components/explorer/content/figureGalleryContent.tsx
  frontend/src/components/explorer/content/seriesChartContent.tsx
  frontend/src/components/explorer/explorerCard.tsx
  frontend/src/components/explorer/explorerCardContent.tsx
  frontend/src/components/explorer/explorerCardPreview.tsx
  frontend/src/components/explorer/explorerThemeLayout.tsx
  frontend/src/components/explorer/explorerTooltip.tsx
  frontend/src/components/explorer/theme/_components/explorerCard.tsx
  frontend/src/components/explorer/theme/_components/explorerCardContent.tsx
  frontend/src/components/explorer/theme/atmosphere.tsx
  frontend/src/components/explorer/theme/earthSystem.tsx
  frontend/src/components/explorer/theme/impactAndAdaptation.tsx
  frontend/src/components/explorer/theme/land.tsx
  frontend/src/components/explorer/theme/sea.tsx
  frontend/src/components/ui/textarea.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

chore: Fix ruff
  backend/src/ref_backend/core/config.py
Due: mypy

chore: Rework card generator
  backend/src/ref_backend/api/deps.py
  backend/src/ref_backend/core/json_utils.py
  backend/src/ref_backend/core/ref.py
  backend/src/ref_backend/main.py
  frontend/src/components/diagnostics/cardTemplateGenerator.tsx
  frontend/src/components/diagnostics/ensembleChart.tsx
  frontend/src/components/execution/values/boxWhiskerShape.tsx
  frontend/src/components/execution/values/groupedBoxWhiskerChart.tsx
  frontend/src/components/execution/values/values.tsx
  frontend/src/components/execution/values/valuesDataTable.tsx
  frontend/src/components/execution/values/valuesFigure.tsx
  frontend/src/components/explorer/content/ensembleChartContent.tsx
  frontend/src/components/explorer/content/seriesChartContent.tsx
  frontend/src/components/explorer/explorerCardContent.tsx
  frontend/src/components/explorer/grouping/groupingControls.tsx
  frontend/src/components/explorer/grouping/index.ts
  frontend/src/components/explorer/grouping/types.ts
  frontend/src/components/explorer/grouping/utils.ts
  frontend/src/components/explorer/theme/atmosphere.tsx
  frontend/src/components/explorer/theme/earthSystem.tsx
  frontend/src/components/explorer/theme/impactAndAdaptation.tsx
  frontend/src/components/explorer/theme/land.tsx
  frontend/src/components/explorer/theme/sea.tsx
  frontend/src/components/explorer/types.ts
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/values.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

chore: Break down by series and scalar
  backend/src/ref_backend/main.py
  backend/src/ref_backend/models.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/diagnostics/diagnosticCard.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

fix: charts
  frontend/src/components/diagnostics/ensembleChart.tsx
  frontend/src/components/explorer/explorerCardContent.tsx
  frontend/src/components/explorer/theme/atmosphere.tsx
  frontend/src/components/explorer/theme/earthSystem.tsx
  frontend/src/components/explorer/theme/land.tsx
  frontend/src/components/explorer/theme/sea.tsx
Due: biome-format, biome-lint, typescript-typecheck

fix: Atmosphere
  frontend/src/components/explorer/grouping/groupingControls.tsx
  frontend/src/components/explorer/theme/atmosphere.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/values.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: Add why did you render to diagnose a render loop
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.tsx
  frontend/src/wdyr.ts
  frontend/vite.config.ts
Due: biome-format, biome-lint, typescript-typecheck

chore: Fix rerendering loop
  frontend/src/components/execution/values/series/seriesLegendSidebar.tsx
  frontend/src/components/execution/values/series/seriesVisualization.tsx
  frontend/src/components/execution/values/values.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/values.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: clean up styling
  backend/src/ref_backend/models.py
  frontend/src/components/diagnostics/diagnosticCard.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

feat: Added stats boxes
  backend/src/ref_backend/api/routes/executions.py
  backend/src/ref_backend/models.py
  frontend/src/client/@tanstack/react-query.gen.ts
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/dashboard/executionStats.tsx
  frontend/src/components/dashboard/recentDatasets.tsx
  frontend/src/components/dashboard/recentExecutions.tsx
  frontend/src/components/diagnostics/diagnosticCard.tsx
  frontend/src/routes/index.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

feat: Add a figure gallery
  frontend/src/components/diagnostics/diagnosticFigureGallery.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/figures.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/route.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: Split into multiple components
  frontend/src/components/diagnostics/diagnosticFigureGallery.tsx
  frontend/src/components/diagnostics/figureGallery.tsx
  frontend/src/components/diagnostics/figureGalleryModal.tsx
  frontend/src/components/explorer/content/figureGalleryContent.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/figures.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: Virtualise the charts to load faster
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/diagnostics/figureGallery.tsx
  frontend/src/components/execution/executionFiles/figure.tsx
  frontend/src/components/explorer/content/figureGalleryContent.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: Rework the nav logo
  frontend/src/components/app/navbar.tsx
  frontend/src/components/app/navbarLogo.tsx
Due: biome-format, biome-lint, typescript-typecheck

feat: Use loguru for logging
  backend/pyproject.toml
  backend/src/ref_backend/api/routes/executions.py
  backend/src/ref_backend/core/config.py
  backend/src/ref_backend/log.py
  backend/src/ref_backend/main.py
  backend/uv.lock
Due: mypy

chore: Add footer
  backend/pyproject.toml
  backend/src/ref_backend/builder.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/app/footer.tsx
  frontend/src/components/app/index.ts
  frontend/src/components/app/navbarLogo.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/__root.tsx
  frontend/src/routes/content/about.mdx
  frontend/src/routes/content/about.tsx
  frontend/src/routes/content/privacy.mdx
  frontend/src/routes/content/privacy.ts
  frontend/src/routes/content/route.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

chore: Add placeholder terms-of-use page
  frontend/src/components/app/footer.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/content/terms-of-use.mdx
  frontend/src/routes/content/terms-of-use.ts
Due: biome-format, biome-lint, typescript-typecheck

chore: Remove comparisonChart
  backend/src/ref_backend/api/routes/executions.py
  frontend/eslint.config.js
  frontend/src/components/dataTable/dataTable.tsx
  frontend/src/components/dataTable/useDataTable.ts
  frontend/src/components/diagnostics/comparisonChart.tsx
  frontend/src/components/diagnostics/comparisonChartCard.tsx
  frontend/src/components/diagnostics/ensembleChart.tsx
  frontend/src/components/diagnostics/executionsTable.tsx
  frontend/src/components/execution/downloadOutputs.tsx
  frontend/src/components/execution/executionFiles/figure.tsx
  frontend/src/components/execution/values/boxWhiskerShape.tsx
  frontend/src/components/execution/values/groupedBoxWhiskerChart.tsx
  frontend/src/components/execution/values/types.ts
  frontend/src/components/explorer/content/ensembleChartContent.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/hooks/useTheme.ts
Due: mypy, biome-format, biome-lint, typescript-typecheck

chore: migrate off eslint
  .vscode/settings.json
  frontend/README.md
  frontend/biome.json
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/diagnostics/ensembleChart.tsx
  frontend/src/components/execution/values/series/seriesVisualization.tsx
  frontend/src/components/execution/values/values.tsx
  frontend/src/components/execution/values/valuesFigure.tsx
  frontend/src/components/explorer/content/ensembleChartContent.tsx
  frontend/src/components/explorer/grouping/utils.ts
  frontend/src/components/explorer/sourceSelect.tsx
  frontend/src/components/explorer/types.ts
  frontend/src/hooks/useTheme.ts
Due: biome-format, biome-lint, typescript-typecheck

fix: Better handling of tooltips
  frontend/src/components/diagnostics/ensembleChart.tsx
  frontend/src/components/execution/values/boxWhiskerShape.tsx
  frontend/src/components/explorer/theme/land.tsx
Due: biome-format, biome-lint, typescript-typecheck

feat: Improve tooltip positioning
  frontend/src/components/diagnostics/ensembleChart.tsx
  frontend/src/hooks/useMousePosition.ts
Due: biome-format, biome-lint, typescript-typecheck

chore: Add skelton for loading figure state
  frontend/src/components/diagnostics/figureGallery.tsx
  frontend/src/components/diagnostics/figureGalleryModal.tsx
  frontend/src/components/diagnostics/figureGallerySkeleton.tsx
  frontend/src/components/execution/executionFiles/figure.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: Add logging of slow queries
  backend/pyproject.toml
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/src/ref_backend/builder.py
  backend/src/ref_backend/main.py
  backend/src/ref_backend/models.py
  backend/stubs/fastapi_sqlalchemy_monitor/__init__.pyi
  backend/stubs/fastapi_sqlalchemy_monitor/action.pyi
  backend/stubs/fastapi_sqlalchemy_monitor/middleware.pyi
  backend/stubs/fastapi_sqlalchemy_monitor/statistics.pyi
  backend/uv.lock
Due: mypy

feat: Add symmetrical axes
  frontend/src/components/diagnostics/cardTemplateGenerator.tsx
  frontend/src/components/diagnostics/comparisonChartCard.tsx
  frontend/src/components/diagnostics/ensembleChart.tsx
  frontend/src/components/execution/values/series/seriesVisualization.tsx
  frontend/src/components/execution/values/valuesFigure.tsx
  frontend/src/components/explorer/content/ensembleChartContent.tsx
  frontend/src/components/explorer/content/seriesChartContent.tsx
  frontend/src/components/explorer/theme/atmosphere.tsx
  frontend/src/components/explorer/types.ts
  frontend/src/routes/__root.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: Improve loading performance
  frontend/src/components/diagnostics/cardTemplateGenerator.tsx
  frontend/src/components/diagnostics/diagnosticInfoSkeleton.tsx
  frontend/src/components/diagnostics/figureGallery.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/index.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/route.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/values.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: Default to figures
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/index.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/route.tsx
Due: biome-format, biome-lint, typescript-typecheck

feat: Add outlier detection
  .vscode/settings.json
  backend/pyproject.toml
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/src/ref_backend/api/routes/executions.py
  backend/src/ref_backend/core/outliers.py
  backend/src/ref_backend/models.py
  backend/tests/conftest.py
  backend/tests/test_api/test_routes/test_diagnostics.py
  backend/tests/test_api/test_routes/test_executions.py
  backend/tests/test_core/test_outliers.py
  backend/uv.lock
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/execution/values/values.tsx
  frontend/src/components/execution/values/valuesDataTable.tsx
  frontend/src/components/explorer/content/ensembleChartContent.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/values.tsx
  frontend/src/routes/_app/executions.$groupId.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

chore: Update PMP charts
  frontend/src/components/diagnostics/ensembleChart.tsx
  frontend/src/components/explorer/theme/atmosphere.tsx
Due: biome-format, biome-lint, typescript-typecheck

feat: Add table and yaml file containg the AFT diagnostic info
  .vscode/settings.json
  backend/pyproject.toml
  backend/src/ref_backend/api/main.py
  backend/src/ref_backend/api/routes/aft.py
  backend/src/ref_backend/core/aft.py
  backend/src/ref_backend/main.py
  backend/src/ref_backend/models.py
  backend/static/aft/AFT REF Diagnostics-v2_draft_clean.csv
  backend/static/aft/ref_mapping.yaml
  backend/tests/test_api/test_routes/test_aft.py
  backend/uv.lock
Due: mypy
