Repository Climate-REF/ref-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-forbidden-files, mypy, biome-format, biome-lint, typescript-typecheck

.pre-commit-config.yaml:

# Unified pre-commit config for frontend and backend
# See https://pre-commit.com for more information
ci:
  autofix_prs: false
  autoupdate_schedule: quarterly
  autoupdate_branch: pre-commit-autoupdate

# Combine excludes from both subprojects, and keep path scoping in hooks below
exclude: |
  (?x)^(
      backend/tests/test-data/.*|
      backend/.venv/.*|
      backend/venv/.*|
      frontend/dist/.*|
      frontend/node_modules/.*|
      frontend/public/.*|
      frontend/src/client/.*|
      .*\.gen\.ts$
  )$

repos:
  # Shared general-purpose checks across the repo
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
        files: ^backend/
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: [--unsafe]
      - id: debug-statements
        files: ^backend/
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Backend: Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.7
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend: mypy and check that no forbidden files are present
  - repo: local
    hooks:
      - id: backend-forbidden-files
        name: backend forbidden files
        entry: found Copier update rejection files; review them and remove them
        language: fail
        files: "\\.rej$"

      - id: mypy
        name: mypy (backend)
        entry: make -C backend mypy
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
        files: ^backend/

  # Frontend: Biome format + lint
  - repo: local
    hooks:
      - id: biome-format
        name: Biome format (write)
        entry: bash -lc "cd frontend && npx --yes @biomejs/biome check --write"
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|md|css)$
        pass_filenames: true
      - id: biome-lint
        name: Biome lint
        entry: bash -lc "cd frontend && npx --yes @biomejs/biome check"
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true

      # Frontend: TypeScript typecheck
      - id: typescript-typecheck
        name: TypeScript typecheck
        entry: bash -lc "cd frontend && npx --yes tsc --noEmit"
        language: system
        pass_filenames: false
        files: ^frontend/

chore: fix the calculation of the number of execution groups
  backend/src/ref_backend/api/routes/diagnostics.py
  frontend/src/components/diagnostics/figure.tsx
  frontend/src/components/diagnostics/figureGalleryModal.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

chore: Add CR endpoints
  frontend/src/lib/apiEndpoint.ts
Due: biome-format, biome-lint, typescript-typecheck

chore: Move boxes
  frontend/src/components/explorer/theme/land.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: make wide
  frontend/src/components/explorer/theme/sea.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: highlight card
  frontend/src/components/explorer/explorerCardContent.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: Mark as not available
  frontend/src/components/explorer/theme/earthSystem.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: More warnings
  frontend/src/components/app/disclaimer.tsx
  frontend/src/components/app/welcomeModal.tsx
  frontend/src/components/explorer/theme/land.tsx
Due: biome-format, biome-lint, typescript-typecheck

Mark data as waiting
  frontend/src/routes/_app/diagnostics.index.tsx
Due: biome-format, biome-lint, typescript-typecheck

fix: Use source id weighted
  backend/src/ref_backend/core/outliers.py
  backend/tests/test_core/test_outliers.py
Due: mypy

fix: Correct issue in couting execution groups
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/src/ref_backend/models.py
Due: mypy

chore: Expand the outlier range
  backend/src/ref_backend/core/metric_values.py
Due: mypy

Add warning for historical diagnostic
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/src/ref_backend/models.py
  frontend/src/routes/_app/diagnostics.index.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

chore: Include the number of successful_execution_group_count
  frontend/src/components/diagnostics/diagnosticCard.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: Remove bugherd
  frontend/index.html
Due: typescript-typecheck

chore: Text fixes
  frontend/src/content/index.mdx
  frontend/src/content/introduction-ref-v1.mdx
Due: typescript-typecheck

chore: remove print statement causing a lot of log output
  backend/src/ref_backend/models.py
Due: mypy

chore: Add salinity biases
  frontend/src/components/diagnostics/ensembleChart.tsx
  frontend/src/components/explorer/content/taylorDiagramContent.tsx
  frontend/src/components/explorer/content/taylorDiagramContentWrapper.tsx
  frontend/src/components/explorer/explorerCard.tsx
  frontend/src/components/explorer/explorerThemeLayout.tsx
  frontend/src/components/explorer/theme/sea.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: clean up filters
  frontend/src/components/explorer/theme/earthSystem.tsx
Due: biome-format, biome-lint, typescript-typecheck

fix: address dashboard feedback from issue #517
  backend/static/diagnostics/metadata.yaml
  frontend/src/routes/_app/diagnostics.index.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: upgrade dependencies and add frontend test infrastructure
  .github/workflows/ci.yml
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/app/footer.test.tsx
  frontend/src/components/execution/values/series/seriesToolip.tsx
  frontend/src/lib/utils.test.ts
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
Due: biome-format, biome-lint, typescript-typecheck

fix(backend): use integration test data and fix test assertions
  backend/src/ref_backend/models.py
  backend/src/ref_backend/testing.py
  backend/tests/test_api/test_routes/test_diagnostics.py
  backend/tests/test_api/test_routes/test_executions.py
Due: mypy

feat: add diagnostic descriptions and metadata generation script
  Makefile
  backend/Makefile
  backend/scripts/generate_metadata.py
  backend/src/ref_backend/core/diagnostic_metadata.py
  backend/src/ref_backend/models.py
  backend/static/diagnostics/metadata.yaml
Due: mypy

test: add comprehensive test coverage for backend and frontend
  backend/tests/test_api/test_routes/test_datasets.py
  backend/tests/test_api/test_routes/test_diagnostics.py
  backend/tests/test_api/test_routes/test_executions.py
  backend/tests/test_api/test_routes/test_results.py
  backend/tests/test_core/test_core_aft.py
  backend/tests/test_core/test_diagnostic_metadata.py
  backend/tests/test_core/test_filter_utils.py
  backend/tests/test_core/test_json_utils.py
  backend/tests/test_core/test_metric_values.py
  frontend/src/components/execution/values/series/utils.test.ts
  frontend/src/components/explorer/grouping/utils.test.ts
  frontend/src/lib/apiEndpoint.test.ts
  frontend/src/lib/downloadUtils.test.ts
  frontend/src/test/renderWithProviders.tsx
  frontend/vitest.config.ts
Due: mypy, biome-format, biome-lint, typescript-typecheck

fix(ci): pin biome version and override test config paths
  .github/workflows/ci.yml
  backend/src/ref_backend/testing.py
Due: mypy

fix: improve diagnostic descriptions and add missing metadata
  backend/static/diagnostics/metadata.yaml
Due: none

chore: remove zec + tcre
  frontend/src/components/explorer/theme/earthSystem.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: upgrade packages
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix: linting
  backend/src/ref_backend/api/routes/executions.py
  backend/src/ref_backend/api/routes/results.py
  backend/src/ref_backend/core/aft.py
  backend/src/ref_backend/models.py
  backend/static/aft/ref_mapping.yaml
  backend/static/diagnostics/metadata.yaml
  backend/tests/test-data/.gitignore
  backend/tests/test-data/tests.integration.test_cmip7_aft/test_solve_cmip7_aft/db/climate_ref.db
Due: mypy

fix: add SPA fallback for client-side routing
  backend/src/ref_backend/builder.py
Due: mypy

fix: use starlette.exceptions.HTTPException for SPA fallback
  backend/src/ref_backend/builder.py
  backend/tests/test_spa_fallback.py
Due: mypy

feat(figures): add selector-based filtering to figure gallery
  frontend/src/components/diagnostics/figureGallery.tsx
  frontend/src/components/diagnostics/selectorFilterPanel.tsx
Due: biome-format, biome-lint, typescript-typecheck

docs: Update collections from MBTT
  README.md
  backend/src/ref_backend/core/collections.py
  backend/static/collections/1-1_sea-ice-sensitivity.yaml
  backend/static/collections/1-2_amoc.yaml
  backend/static/collections/1-3_enso.yaml
  backend/static/collections/1-4_sst-sss-bias.yaml
  backend/static/collections/1-5_ocean-heat-content.yaml
  backend/static/collections/1-6_sea-ice-area.yaml
  backend/static/collections/1.1.yaml
  backend/static/collections/1.2.yaml
  backend/static/collections/1.5.yaml
  backend/static/collections/2-1_soil-carbon.yaml
  backend/static/collections/2-2_gross-primary-production.yaml
  backend/static/collections/2-3_runoff.yaml
  backend/static/collections/2-4_surface-soil-moisture.yaml
  backend/static/collections/2-5_net-ecosystem-carbon-balance.yaml
  backend/static/collections/2-6_leaf-area-index.yaml
  backend/static/collections/2-7_snow-cover.yaml
  backend/static/collections/2.3.yaml
  backend/static/collections/2.7.yaml
  backend/static/collections/3-1_annual-cycle.yaml
  backend/static/collections/3-2_radiative-heat-fluxes.yaml
  backend/static/collections/3-3_climate-variability-modes.yaml
  backend/static/collections/3-6_cloud-radiative-effects.yaml
  backend/static/collections/3-7_cloud-scatterplots.yaml
  backend/static/collections/3.2.yaml
  backend/static/collections/3.6.yaml
  backend/static/collections/3.7.yaml
  backend/static/collections/4-1_equilibrium-climate-sensitivity.yaml
  backend/static/collections/4-2_transient-climate-response.yaml
  backend/static/collections/4-3_tcre.yaml
  backend/static/collections/4-4_zero-emissions-commitment.yaml
  backend/static/collections/4-5_historical-changes.yaml
  backend/static/collections/5-3_global-warming-levels.yaml
  backend/static/collections/5-4_fire-climate-drivers.yaml
  backend/static/collections/5.4.yaml
  backend/static/collections/README.md
Due: mypy

refactor(aft): use collection YAML files as single source of truth
  backend/src/ref_backend/core/aft.py
  backend/src/ref_backend/core/collections.py
  backend/static/aft/AFT REF Diagnostics-v2_draft_clean.csv
  backend/static/aft/ref_mapping.yaml
  backend/tests/test_api/test_routes/test_aft.py
  backend/tests/test_core/test_core_aft.py
  backend/tests/test_core/test_core_collections.py
Due: mypy

fix(collections): fix theme loading and improve error handling
  backend/src/ref_backend/core/aft.py
  backend/src/ref_backend/core/collections.py
  backend/tests/test_api/test_api_explorer.py
  backend/tests/test_api/test_routes/test_aft.py
  backend/tests/test_core/test_core_aft.py
  backend/tests/test_core/test_core_collections.py
  frontend/src/components/diagnostics/executionsTable.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

feat(explorer): add collection headers, plain language toggle, and tabs navigation
  backend/pyproject.toml
  backend/src/ref_backend/core/collections.py
  backend/uv.lock
  frontend/src/client/@tanstack/react-query.gen.ts
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/explorer/collectionHeader.tsx
  frontend/src/components/explorer/explorerCard.tsx
  frontend/src/components/explorer/explorerCardContent.tsx
  frontend/src/components/explorer/explorerThemeLayout.tsx
  frontend/src/components/explorer/thematicContent.tsx
  frontend/src/routes/_app/explorer/themes.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

chore: add a envrc file to automatically set the .env
  .envrc
Due: none

feat: enhance SeriesMetadata with dimensions and simplify slug formatting in CollectionHeader
  frontend/src/components/execution/values/types.ts
  frontend/src/components/explorer/collectionHeader.tsx
  frontend/src/routes/_app/explorer/themes.tsx
Due: biome-format, biome-lint, typescript-typecheck

feat(series): rewrite series chart with canvas rendering and dark mode
  frontend/src/components/execution/values/series/canvasTooltip.test.ts
  frontend/src/components/execution/values/series/canvasTooltip.tsx
  frontend/src/components/execution/values/series/seriesCanvas.tsx
  frontend/src/components/execution/values/series/seriesLegend.tsx
  frontend/src/components/execution/values/series/seriesToolip.tsx
  frontend/src/components/execution/values/series/seriesVisualization.tsx
  frontend/src/components/execution/values/series/useChartScales.test.ts
  frontend/src/components/execution/values/series/useChartScales.ts
  frontend/src/components/execution/values/series/useSpatialIndex.test.ts
  frontend/src/components/execution/values/series/useSpatialIndex.ts
  frontend/src/components/execution/values/series/utils.test.ts
  frontend/src/components/execution/values/series/utils.ts
  frontend/src/components/explorer/content/seriesChartContent.tsx
Due: biome-format, biome-lint, typescript-typecheck

refactor(explorer): rename ExplorerCard to ExplorerCardGroup and improve layout
  frontend/src/components/explorer/explorerCard.tsx
  frontend/src/components/explorer/explorerCardGroup.tsx
  frontend/src/components/explorer/explorerThemeLayout.tsx
  frontend/src/routes/_app/explorer/route.tsx
Due: biome-format, biome-lint, typescript-typecheck
