Repository Climate-REF/ref-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-forbidden-files, mypy, biome-format, biome-lint, typescript-typecheck

.pre-commit-config.yaml:

# Unified pre-commit config for frontend and backend
# See https://pre-commit.com for more information
ci:
  autofix_prs: false
  autoupdate_schedule: quarterly
  autoupdate_branch: pre-commit-autoupdate

# Combine excludes from both subprojects, and keep path scoping in hooks below
exclude: |
  (?x)^(
      backend/tests/test-data/.*|
      backend/.venv/.*|
      backend/venv/.*|
      frontend/dist/.*|
      frontend/node_modules/.*|
      frontend/public/.*|
      frontend/src/client/.*|
      .*\.gen\.ts$
  )$

repos:
  # Shared general-purpose checks across the repo
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
        files: ^backend/
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: [--unsafe]
      - id: debug-statements
        files: ^backend/
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Backend: Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.7
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend: mypy and check that no forbidden files are present
  - repo: local
    hooks:
      - id: backend-forbidden-files
        name: backend forbidden files
        entry: found Copier update rejection files; review them and remove them
        language: fail
        files: "\\.rej$"

      - id: mypy
        name: mypy (backend)
        entry: make -C backend mypy
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
        files: ^backend/

  # Frontend: Biome format + lint
  - repo: local
    hooks:
      - id: biome-format
        name: Biome format (write)
        entry: bash -lc "cd frontend && npx --yes @biomejs/biome check --write"
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|md|css)$
        pass_filenames: true
      - id: biome-lint
        name: Biome lint
        entry: bash -lc "cd frontend && npx --yes @biomejs/biome check"
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true

      # Frontend: TypeScript typecheck
      - id: typescript-typecheck
        name: TypeScript typecheck
        entry: bash -lc "cd frontend && npx --yes tsc --noEmit"
        language: system
        pass_filenames: false
        files: ^frontend/

fix: run outlier detection before pagination for correct IQR bounds
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/src/ref_backend/api/routes/executions.py
  backend/src/ref_backend/core/metric_values.py
  backend/tests/test_api/test_routes/test_diagnostics.py
  backend/tests/test_api/test_routes/test_executions.py
  frontend/src/hooks/useMetricValues.ts
Due: mypy, biome-format, biome-lint, typescript-typecheck

fix: address PR review comments
  backend/src/ref_backend/core/metric_values.py
  frontend/src/components/dataTable/paginationControls.test.tsx
  frontend/src/components/dataTable/paginationControls.tsx
  frontend/src/hooks/useMetricValues.ts
  frontend/src/routes/_app/executions.$groupId/scalar.tsx
  frontend/src/routes/_app/executions.$groupId/series.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

fix: use extracted searchLimit instead of functional search updater
  frontend/src/hooks/useMetricValues.ts
Due: biome-format, biome-lint, typescript-typecheck

fix: add scalar pagination rationale comments and useMetricValues hook tests
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/src/ref_backend/api/routes/executions.py
  frontend/src/hooks/useMetricValues.test.ts
Due: mypy, biome-format, biome-lint, typescript-typecheck

chore: upgrade @hey-api/openapi-ts to v0.95.0
  frontend/openapi-ts.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/client/@tanstack/react-query.gen.ts
  frontend/src/client/client.gen.ts
  frontend/src/client/client/client.gen.ts
  frontend/src/client/client/index.ts
  frontend/src/client/client/types.gen.ts
  frontend/src/client/client/utils.gen.ts
  frontend/src/client/core/auth.gen.ts
  frontend/src/client/core/bodySerializer.gen.ts
  frontend/src/client/core/params.gen.ts
  frontend/src/client/core/pathSerializer.gen.ts
  frontend/src/client/core/queryKeySerializer.gen.ts
  frontend/src/client/core/serverSentEvents.gen.ts
  frontend/src/client/core/types.gen.ts
  frontend/src/client/core/utils.gen.ts
  frontend/src/client/index.ts
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/execution/executionLogs/executionLogContainer.tsx
Due: biome-format, biome-lint, typescript-typecheck

fix: width of pagination control
  frontend/src/components/dataTable/paginationControls.tsx
Due: biome-format, biome-lint, typescript-typecheck

fix: Keep local vite env
  frontend/src/lib/apiEndpoint.test.ts
Due: biome-format, biome-lint, typescript-typecheck

fix: resolve infinite re-render loop and broken include_unverified toggle
  frontend/src/components/dataTable/paginationControls.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/scalars.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/series.tsx
  frontend/src/routes/_app/executions.$groupId/scalar.tsx
  frontend/src/routes/_app/executions.$groupId/series.tsx
Due: biome-format, biome-lint, typescript-typecheck

feat: add region filter dropdown to annual cycle explorer cards
  backend/src/ref_backend/core/collections.py
  backend/static/collections/4-5_historical-changes.yaml
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/explorer/content/seriesChartContent.tsx
  frontend/src/components/explorer/filterExplorerContent.test.ts
  frontend/src/components/explorer/thematicContent.tsx
  frontend/src/components/explorer/types.ts
Due: mypy, biome-format, biome-lint, typescript-typecheck

fix: auto-select first available filter value when no default matches
  .env.sample
  backend/static/collections/4-5_historical-changes.yaml
  changelog/25.feature.md
  frontend/src/components/explorer/content/seriesChartContent.tsx
  frontend/vite.config.ts
Due: biome-format, biome-lint, typescript-typecheck

chore: cleanups
  Makefile
  frontend/vite.config.ts
Due: biome-format, biome-lint, typescript-typecheck

fix: Update the fire chart
  backend/src/ref_backend/core/collections.py
  backend/static/collections/5-4_fire-climate-drivers.yaml
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/diagnostics/figureGallery.tsx
  frontend/src/components/explorer/content/figureGalleryContent.tsx
  frontend/src/components/explorer/thematicContent.tsx
  frontend/src/components/explorer/types.ts
Due: mypy, biome-format, biome-lint, typescript-typecheck

Bump version: 0.1.0 → 0.2.0
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/19.feature.md
  changelog/21.improvement.md
  changelog/22.improvement.md
  changelog/23.feature.md
  changelog/25.feature.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

fix: allow missing ref.toml by falling back to environment defaults
  backend/src/ref_backend/core/ref.py
  backend/tests/test_core/test_ref.py
Due: mypy

docs: add changelog entry for #26
  changelog/26.fix.md
Due: none

Bump version: 0.2.0 → 0.2.1
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/26.fix.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

chore: Update GitHub Actions to Node.js 24 compatible versions
  .github/workflows/bump.yaml
  .github/workflows/ci.yml
  .github/workflows/containers.yaml
  .github/workflows/release.yaml
Due: none

chore: Add changelog entry for PR #27
  changelog/27.trivial.md
Due: none

fix: Use astral-sh/setup-uv@v7 (v8 major tag not yet available)
  .github/workflows/bump.yaml
  .github/workflows/ci.yml
Due: none

fix: Pin astral-sh/setup-uv to v8.0.0
  .github/workflows/bump.yaml
  .github/workflows/ci.yml
Due: none

Bump version: 0.2.1 → 0.2.2
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/27.trivial.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

fix: Use non-root user in Docker runtime image
  Dockerfile
Due: none

chore: Cleanup some files
  .gitignore
  docs/explorer-scientific-content-framework.md
  docs/scientific-content-strategy.md
Due: none

fix(security): address high-priority vulnerabilities from security audit
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/src/ref_backend/builder.py
  backend/tests/test_api/test_cors.py
  backend/tests/test_api/test_routes/test_diagnostics.py
  frontend/src/instrument.ts
Due: mypy, biome-format, biome-lint, typescript-typecheck

docs: add changelog entry for PR #28
  changelog/28.fix.md
Due: none

Bump version: 0.2.2 → 0.2.3
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/28.fix.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

chore: regenerate client SDK after merge with main
  frontend/src/client/@tanstack/react-query.gen.ts
  frontend/src/client/index.ts
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
Due: none

docs: add changelog entry for PR #24
  changelog/24.improvement.md
Due: none

fix: extract structured detail from validation errors in log container
  frontend/src/components/execution/executionLogs/executionLogContainer.tsx
Due: biome-format, biome-lint, typescript-typecheck

fix: allow API to run against a read-only /ref mount (#29)
  Dockerfile
  backend/pyproject.toml
  backend/src/ref_backend/api/deps.py
  backend/src/ref_backend/core/config.py
  backend/src/ref_backend/core/ref.py
  backend/src/ref_backend/main.py
  backend/tests/test_core/test_ref.py
  backend/uv.lock
  changelog/29.fix.md
Due: mypy

Rename changelog fragment to PR number (#30)
  changelog/30.fix.md
Due: none

docs: Cleanup docs
  backend/src/ref_backend/core/ref.py
Due: mypy

chore(deps): bump climate-ref, vite, pydantic-settings; drop unused deps
  Dockerfile
  backend/pyproject.toml
  backend/src/ref_backend/core/outliers.py
  backend/src/ref_backend/core/ref.py
  backend/uv.lock
  changelog/30.fix.md
  frontend/package-lock.json
  frontend/package.json
Due: mypy, biome-format, typescript-typecheck

docs(changelog): flag REF_CONFIGURATION default change as breaking
  changelog/30.breaking.md
  changelog/30.fix.md
Due: none

Bump version: 0.2.3 → 0.3.0
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/24.improvement.md
  changelog/30.breaking.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

chore: remove placeholder for oceans
  backend/static/collections/1-2_amoc.yaml
  backend/static/collections/1-4_sst-sss-bias.yaml
  backend/static/collections/1-6_sea-ice-area.yaml
  frontend/src/components/explorer/content/ensembleChartContent.tsx
  frontend/src/components/explorer/content/seriesChartContent.tsx
  frontend/src/components/explorer/content/taylorDiagramContentWrapper.tsx
Due: biome-format, biome-lint, typescript-typecheck

refactor: key outlier detection off metric-value kind, not the source_id sentinel
  backend/src/ref_backend/core/outliers.py
  backend/tests/test_core/test_outliers.py
Due: mypy

feat: surface kind, reference_id and presentation units on metric-value DTOs
  backend/pyproject.toml
  backend/src/ref_backend/models.py
  backend/tests/test_core/test_metric_values.py
  backend/uv.lock
Due: mypy

chore(test): migrate fixture database to climate-ref 0.15 schema
  backend/tests/test-data/tests.integration.test_cmip7_aft/test_solve_cmip7_aft/db/climate_ref.db
Due: none

chore(client): regenerate API client for metric-value contract fields
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
Due: none
