Repository Climate-REF/ref-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-forbidden-files, mypy, biome-format, biome-lint, typescript-typecheck

backend-forbidden-files:
  name: backend forbidden files
  entry: found Copier update rejection files; review them and remove them
  language: fail

mypy:
  name: mypy (backend)
  entry: make -C backend mypy
  language: system
  pass_filenames: false
  require_serial: true

biome-format:
  name: Biome format (write)
  entry: bash -lc "cd frontend && npx --yes @biomejs/biome check --write"
  language: system
  pass_filenames: true

biome-lint:
  name: Biome lint
  entry: bash -lc "cd frontend && npx --yes @biomejs/biome check"
  language: system
  pass_filenames: true

typescript-typecheck:
  name: TypeScript typecheck
  entry: bash -lc "cd frontend && npx --yes tsc --noEmit"
  language: system
  pass_filenames: false

Read model participation from the deciding execution
  backend/src/ref_backend/core/model_runs.py
  backend/tests/test_core/conftest.py
  backend/tests/test_core/test_model_ensemble_retries.py
  backend/tests/test_core/test_model_runs.py
  frontend/src/components/models/runOutcomeBar.test.tsx
  frontend/src/components/models/runOutcomeBar.tsx
  frontend/src/lib/format.test.ts
  frontend/src/lib/format.ts
  frontend/src/routes/_app/models.$sourceId.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

Take the latest execution and the outlier fences from the ref
  backend/src/ref_backend/core/model_runs.py
  backend/src/ref_backend/models/climate_models.py
  backend/tests/test_core/test_model_ensemble.py
  backend/tests/test_core/test_model_runs.py
  frontend/src/client/types.gen.ts
Due: mypy

Name the model files after the resource they serve
  backend/src/ref_backend/api/main.py
  backend/src/ref_backend/api/routes/models.py
  backend/src/ref_backend/core/model_ensemble.py
  backend/src/ref_backend/core/model_runs.py
  backend/src/ref_backend/models/__init__.py
  backend/src/ref_backend/models/model_runs.py
  backend/tests/test_api/test_routes/test_models.py
  backend/tests/test_core/test_model_ensemble.py
  frontend/src/client/@tanstack/react-query.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
Due: mypy

Bump version: 0.7.4 → 0.7.5
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/107.feature.md
  changelog/108.improvement.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

fix: correct chart selection and explorer layout
  backend/static/collections/1-4_sst-sss-bias.yaml
  frontend/src/components/diagnostics/ensembleChart.interaction.test.tsx
  frontend/src/components/diagnostics/ensembleChart.tsx
  frontend/src/components/execution/values/boxWhiskerShape.test.tsx
  frontend/src/components/execution/values/boxWhiskerShape.tsx
  frontend/src/components/execution/values/types.ts
  frontend/src/components/explorer/explorerCardGroup.tsx
  frontend/src/components/explorer/explorerThemeLayout.tsx
Due: biome-format, biome-lint, typescript-typecheck

docs: add changelog for chart fixes
  changelog/109.fix.md
Due: none

fix: handle deferred chart pointer events
  frontend/src/components/diagnostics/ensembleChart.interaction.test.tsx
  frontend/src/components/diagnostics/ensembleChart.tsx
Due: biome-format, biome-lint, typescript-typecheck

refactor: simplify selected-point rendering
  frontend/src/components/diagnostics/ensembleChart.tsx
Due: biome-format, biome-lint, typescript-typecheck

Add JSON logging and Prometheus metrics from the service template
  .env.sample
  backend/pyproject.toml
  backend/src/ref_backend/analytics.py
  backend/src/ref_backend/api/routes/aft.py
  backend/src/ref_backend/api/routes/executions.py
  backend/src/ref_backend/api/routes/utils.py
  backend/src/ref_backend/builder.py
  backend/src/ref_backend/core/config.py
  backend/src/ref_backend/core/diagnostic_metadata.py
  backend/src/ref_backend/core/ref.py
  backend/src/ref_backend/deploy.py
  backend/src/ref_backend/health.py
  backend/src/ref_backend/log.py
  backend/src/ref_backend/logging_config.py
  backend/src/ref_backend/main.py
  backend/src/ref_backend/metrics.py
  backend/src/ref_backend/middleware.py
  backend/src/ref_backend/models/diagnostics.py
  backend/tests/test_api/test_routes/test_utils.py
  backend/tests/test_deploy.py
  backend/tests/test_health.py
  backend/tests/test_logging_config.py
  backend/tests/test_metrics.py
  backend/tests/test_middleware.py
  backend/tests/test_spa_fallback.py
  backend/uv.lock
  changelog/109.breaking.md
  changelog/109.feature.md
  docs/observability.md
  frontend/src/client/@tanstack/react-query.gen.ts
  frontend/src/client/index.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  scripts/generate-client-sdk.sh
Due: mypy

Name the changelog fragments after the PR
  changelog/110.breaking.md
  changelog/110.feature.md
Due: none

Bump version: 0.7.5 → 0.7.6
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/109.fix.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

fix: lower the chart model threshold to 3
  frontend/src/lib/mipEras.ts
Due: biome-format, biome-lint, typescript-typecheck

docs: add changelog for the chart model threshold
  changelog/112.improvement.md
Due: none

test: update the chart threshold test to three models
  frontend/src/lib/mipEras.test.ts
Due: biome-format, biome-lint, typescript-typecheck

Bump version: 0.7.6 → 0.7.7
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/112.improvement.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

fix: make the app usable on phone widths
  frontend/src/components/app/navbar.tsx
  frontend/src/components/app/pageHeader.tsx
  frontend/src/components/app/welcomeModal.tsx
  frontend/src/components/charts/mipEraBar.tsx
  frontend/src/routes/_app/explorer/route.tsx
Due: biome-format, biome-lint, typescript-typecheck

docs: add changelog for mobile layout fixes
  changelog/113.fix.md
Due: none

fix: add side padding to the homepage body sections
  frontend/src/routes/index.tsx
Due: biome-format, biome-lint, typescript-typecheck

Bump version: 0.7.7 → 0.7.8
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/113.fix.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

perf: query facets without the metric value type filter
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/tests/test_api/test_routes/test_diagnostics.py
Due: mypy

docs: add changelog for the facets query speedup
  changelog/114.improvement.md
Due: none

Bump version: 0.7.8 → 0.7.9
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/114.improvement.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

perf: keep SQLite off the metric value type index when checking for values
  backend/src/ref_backend/core/metric_values.py
  backend/src/ref_backend/models/diagnostics.py
  backend/tests/test_api/test_routes/test_diagnostics.py
Due: mypy

docs: add changelog for the metric value type filter speedup
  changelog/115.improvement.md
Due: none

Bump version: 0.7.9 → 0.7.10
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/115.improvement.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

feat: allow listing diagnostics without the value flags
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/src/ref_backend/models/__init__.py
  backend/src/ref_backend/models/diagnostics.py
  backend/tests/test_api/test_routes/test_diagnostics.py
Due: mypy

perf: load the diagnostics catalog before its value flags
  frontend/src/client/@tanstack/react-query.gen.ts
  frontend/src/client/index.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/datasets/diagnosticSummaryTable.tsx
  frontend/src/components/diagnostics/diagnosticCard.tsx
  frontend/src/components/diagnostics/diagnosticsFilter.test.tsx
  frontend/src/components/diagnostics/diagnosticsFilter.tsx
  frontend/src/routes/_app/diagnostics.index.tsx
  frontend/src/routes/_app/executions.resources.tsx
Due: biome-format, biome-lint, typescript-typecheck

docs: add changelog for loading the catalog before its value flags
  changelog/116.improvement.md
Due: none

fix: show when the diagnostics value flags fail to load
  backend/tests/test_api/test_routes/test_diagnostics.py
  frontend/src/components/datasets/diagnosticSummaryTable.tsx
  frontend/src/components/diagnostics/diagnosticCard.tsx
  frontend/src/components/diagnostics/valueStatus.test.tsx
  frontend/src/components/diagnostics/valueStatus.tsx
  frontend/src/routes/_app/diagnostics.index.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

refactor: serve the fast listing from its own endpoint
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/src/ref_backend/models/__init__.py
  backend/src/ref_backend/models/diagnostics.py
  backend/tests/test_api/test_routes/test_diagnostics.py
  frontend/src/client/@tanstack/react-query.gen.ts
  frontend/src/client/index.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/datasets/diagnosticSummaryTable.tsx
  frontend/src/components/diagnostics/diagnosticCard.tsx
  frontend/src/components/diagnostics/diagnosticsFilter.test.tsx
  frontend/src/components/diagnostics/diagnosticsFilter.tsx
  frontend/src/components/execution/resourceUsageTable.tsx
  frontend/src/lib/diagnosticCatalog.test.ts
  frontend/src/lib/diagnosticCatalog.ts
  frontend/src/lib/resourceUsageCsv.ts
  frontend/src/routes/_app/diagnostics.index.tsx
  frontend/src/routes/_app/executions.resources.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

fix: forward the real visitor IP to Plausible
  backend/src/ref_backend/analytics.py
  backend/tests/test_analytics.py
Due: mypy

docs: add changelog for forwarding the real visitor IP
  changelog/117.fix.md
Due: none

fix: tighten the Plausible proxy wording and tests
  backend/src/ref_backend/analytics.py
  backend/tests/test_analytics.py
  changelog/117.fix.md
Due: mypy

Bump version: 0.7.10 → 0.7.11
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/116.improvement.md
  changelog/117.fix.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

fix: release the DB connection before streaming a download
  backend/src/ref_backend/api/routes/executions.py
  backend/src/ref_backend/api/routes/results.py
  backend/src/ref_backend/core/file_handling.py
  backend/tests/test_core/test_file_handling.py
  changelog/118.fix.md
Due: mypy

test: check the connection is released before streaming
  backend/tests/test_api/test_routes/test_results.py
  backend/tests/test_core/test_file_handling.py
  changelog/118.fix.md
Due: mypy

Bump version: 0.7.11 → 0.7.12
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/118.fix.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

fix: serve the SPA fallback without a redirect
  backend/src/ref_backend/builder.py
  backend/tests/test_spa_fallback.py
Due: mypy

docs: add changelog for the SPA fallback fix
  changelog/119.fix.md
Due: none

fix: tidy SPA fallback docs and tests
  backend/src/ref_backend/builder.py
  backend/tests/test_spa_fallback.py
  changelog/119.fix.md
Due: mypy

Path conditions:
  backend-forbidden-files: any of: \.rej$, but not: (?x)^(
    backend/tests/test-data/.*|
    backend/.venv/.*|
    backend/venv/.*|
    frontend/dist/.*|
    frontend/node_modules/.*|
    frontend/public/.*|
    frontend/src/client/.*|
    .*\.gen\.ts$
)$

  mypy: any of: ^backend/ and \.py$ and not ((?x)^(
    backend/tests/test-data/.*|
    backend/.venv/.*|
    backend/venv/.*|
    frontend/dist/.*|
    frontend/node_modules/.*|
    frontend/public/.*|
    frontend/src/client/.*|
    .*\.gen\.ts$
)$
)
  biome-format: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|md|css)$, but not: (?x)^(
    backend/tests/test-data/.*|
    backend/.venv/.*|
    backend/venv/.*|
    frontend/dist/.*|
    frontend/node_modules/.*|
    frontend/public/.*|
    frontend/src/client/.*|
    .*\.gen\.ts$
)$

  biome-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$, but not: (?x)^(
    backend/tests/test-data/.*|
    backend/.venv/.*|
    backend/venv/.*|
    frontend/dist/.*|
    frontend/node_modules/.*|
    frontend/public/.*|
    frontend/src/client/.*|
    .*\.gen\.ts$
)$

  typescript-typecheck: any of: ^frontend/, but not: (?x)^(
    backend/tests/test-data/.*|
    backend/.venv/.*|
    backend/venv/.*|
    frontend/dist/.*|
    frontend/node_modules/.*|
    frontend/public/.*|
    frontend/src/client/.*|
    .*\.gen\.ts$
)$

