Repository Climate-REF/ref-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-forbidden-files, mypy, biome-format, biome-lint, typescript-typecheck

.pre-commit-config.yaml:

# Unified pre-commit config for frontend and backend
# See https://pre-commit.com for more information
ci:
  autofix_prs: false
  autoupdate_schedule: quarterly
  autoupdate_branch: pre-commit-autoupdate

# Combine excludes from both subprojects, and keep path scoping in hooks below
exclude: |
  (?x)^(
      backend/tests/test-data/.*|
      backend/.venv/.*|
      backend/venv/.*|
      frontend/dist/.*|
      frontend/node_modules/.*|
      frontend/public/.*|
      frontend/src/client/.*|
      .*\.gen\.ts$
  )$

repos:
  # Shared general-purpose checks across the repo
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
        files: ^backend/
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: [--unsafe]
      - id: debug-statements
        files: ^backend/
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Backend: Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.7
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend: mypy and check that no forbidden files are present
  - repo: local
    hooks:
      - id: backend-forbidden-files
        name: backend forbidden files
        entry: found Copier update rejection files; review them and remove them
        language: fail
        files: "\\.rej$"

      - id: mypy
        name: mypy (backend)
        entry: make -C backend mypy
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
        files: ^backend/

  # Frontend: Biome format + lint
  - repo: local
    hooks:
      - id: biome-format
        name: Biome format (write)
        entry: bash -lc "cd frontend && npx --yes @biomejs/biome check --write"
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|md|css)$
        pass_filenames: true
      - id: biome-lint
        name: Biome lint
        entry: bash -lc "cd frontend && npx --yes @biomejs/biome check"
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true

      # Frontend: TypeScript typecheck
      - id: typescript-typecheck
        name: TypeScript typecheck
        entry: bash -lc "cd frontend && npx --yes tsc --noEmit"
        language: system
        pass_filenames: false
        files: ^frontend/

Address review: tighten getters, changelog wording, add list and stats tests
  backend/src/ref_backend/api/routes/executions.py
  backend/tests/test_api/test_routes/test_executions.py
  changelog/76.improvement.md
  frontend/README.md
Due: mypy, biome-format, typescript-typecheck

Drop throwaway reader lookups and share the group eager-load options
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/src/ref_backend/api/routes/executions.py
  backend/src/ref_backend/models/executions.py
Due: mypy

Tidy two comments
  backend/src/ref_backend/api/routes/executions.py
  scripts/generate-client-sdk.sh
Due: mypy

Assert the second page is full in the pagination test
  backend/tests/test_api/test_routes/test_executions.py
Due: mypy

chore: run openapi-ts in isolation and fix two lint errors
  frontend/openapi-ts.config.ts
  frontend/public/favicon.svg
  frontend/src/components/diagnostics/diagnosticCard.tsx
  scripts/generate-client-sdk.sh
Due: biome-format, biome-lint, typescript-typecheck

refactor(frontend): stop exporting page components from route files
  frontend/.gitignore
  frontend/src/routes/_app/datasets.index.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/figures.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/groups.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/scalars.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/series.tsx
  frontend/src/routes/_app/executions.$groupId/datasets.tsx
  frontend/src/routes/_app/executions.$groupId/executions.tsx
  frontend/src/routes/_app/executions.$groupId/files.tsx
  frontend/src/routes/_app/executions.$groupId/logs.tsx
  frontend/src/routes/_app/executions.$groupId/scalar.tsx
  frontend/src/routes/_app/executions.$groupId/series.tsx
Due: biome-format, biome-lint, typescript-typecheck

feat: show wall and CPU time for executions
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/src/ref_backend/api/routes/executions.py
  backend/src/ref_backend/core/resource_usage.py
  backend/src/ref_backend/models/__init__.py
  backend/src/ref_backend/models/diagnostics.py
  backend/src/ref_backend/models/executions.py
  backend/tests/test-data/tests.integration.test_cmip7_aft/test_solve_cmip7_aft/db/climate_ref.db
  backend/tests/test_api/test_routes/test_diagnostics.py
  backend/tests/test_api/test_routes/test_executions.py
  frontend/src/client/@tanstack/react-query.gen.ts
  frontend/src/client/index.ts
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/diagnostics/executionsTable.tsx
  frontend/src/components/execution/executionGroupTable.tsx
  frontend/src/components/execution/resourceUsageTable.tsx
  frontend/src/lib/format.test.ts
  frontend/src/lib/format.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/route.tsx
  frontend/src/routes/_app/executions.$groupId/route.tsx
  frontend/src/routes/_app/executions.index.tsx
  frontend/src/routes/_app/executions.resources.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

chore: add changelog fragments
  changelog/80.feature.md
  changelog/80.trivial.md
Due: none

fix: tighten resource usage formatting, sorting and tests
  backend/src/ref_backend/core/resource_usage.py
  backend/tests/test_api/test_routes/test_diagnostics.py
  backend/tests/test_api/test_routes/test_executions.py
  changelog/80.feature.md
  frontend/src/components/diagnostics/executionsTable.tsx
  frontend/src/components/execution/executionGroupTable.tsx
  frontend/src/components/execution/resourceUsageTable.tsx
  frontend/src/lib/format.test.ts
  frontend/src/lib/format.ts
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/route.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

refactor: simplify the resource usage plumbing
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/src/ref_backend/api/routes/executions.py
  backend/src/ref_backend/core/resource_usage.py
  backend/src/ref_backend/models/__init__.py
  climate-ref/.ref/db/climate_ref.db
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/dataTable/dataTable.tsx
  frontend/src/components/dataTable/useDataTable.ts
  frontend/src/components/execution/resourceUsageTable.tsx
  frontend/src/lib/format.ts
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/route.tsx
  frontend/src/routes/_app/executions.resources.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

refactor: collapse the per-diagnostic roll-up helper
  backend/src/ref_backend/core/resource_usage.py
  backend/src/ref_backend/models/diagnostics.py
  frontend/src/components/diagnostics/executionsTable.tsx
  frontend/src/routes/_app/executions.resources.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

fix(frontend): show an error when the statistics request fails
  frontend/src/routes/_app/executions.resources.tsx
Due: biome-format, biome-lint, typescript-typecheck

feat(frontend): download the resource usage table as CSV and narrow it
  frontend/src/components/dataTable/columnHeader.tsx
  frontend/src/components/execution/resourceUsageTable.tsx
  frontend/src/lib/resourceUsageCsv.test.ts
  frontend/src/lib/resourceUsageCsv.ts
  frontend/src/routes/_app/executions.resources.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: prune dead code and unused dependencies
  .gitignore
  backend/pyproject.toml
  changelog/81.trivial.md
  frontend/openapi-ts.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/client/schemas.gen.ts
  frontend/src/components/diagnostics/cardTemplateGenerator.tsx
  frontend/src/components/execution/values/customSeriesToolTip.tsx
  frontend/src/components/execution/values/facetSelect.tsx
  frontend/src/components/execution/values/valuesFigure.tsx
  frontend/src/components/explorer/metricExplorer.tsx
  frontend/src/components/explorer/modelColumns.tsx
  frontend/src/components/ui/breadcrumb.tsx
  frontend/src/components/ui/chart.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/hooks/use-mobile.ts
  frontend/src/hooks/use-toast.ts
  frontend/src/test/renderWithProviders.tsx
  frontend/src/wdyr.ts
Due: biome-format, biome-lint, typescript-typecheck

Bump version: 0.4.2 → 0.5.0
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/62.trivial.md
  changelog/68.trivial.md
  changelog/69.trivial.md
  changelog/70.breaking.md
  changelog/70.feature.md
  changelog/70.improvement.md
  changelog/71.feature.md
  changelog/71.trivial.md
  changelog/73.improvement.md
  changelog/76.improvement.md
  changelog/76.trivial.md
  changelog/80.feature.md
  changelog/80.trivial.md
  changelog/81.trivial.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

fix: name the wall time roll-up as a sum, not an elapsed time
  backend/src/ref_backend/core/resource_usage.py
  frontend/src/components/execution/resourceUsageTable.tsx
  frontend/src/routes/_app/executions.resources.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

docs: add changelog fragment for the wall time relabel
  changelog/83.improvement.md
Due: none

fix: apply the wall time relabel consistently and soften the claim
  backend/src/ref_backend/core/resource_usage.py
  changelog/83.improvement.md
  frontend/src/components/execution/resourceUsageTable.tsx
  frontend/src/lib/resourceUsageCsv.ts
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/route.tsx
  frontend/src/routes/_app/executions.resources.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

docs: tighten the reference dataset source wording
  backend/src/ref_backend/core/diagnostic_metadata.py
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/route.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

feat: separate obs4REF reference data from published obs4MIPs
  backend/src/ref_backend/core/diagnostic_metadata.py
  backend/static/diagnostics/esmvaltool.yaml
  backend/static/diagnostics/ilamb.yaml
  backend/static/diagnostics/pmp.yaml
  backend/tests/test_core/test_diagnostic_metadata.py
  changelog/74.improvement.md
  frontend/src/client/types.gen.ts
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/route.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

fix: make the Biome pre-commit hooks actually work
  .pre-commit-config.yaml
  frontend/biome.json
Due: biome-format, typescript-typecheck

docs: renumber the changelog fragment to the PR, and note the pre-commit fix
  changelog/82.improvement.md
  changelog/82.trivial.md
Due: none

refactor: rename the reference dataset `source` field to `source_type`
  backend/src/ref_backend/core/diagnostic_metadata.py
  backend/static/diagnostics/esmvaltool.yaml
  backend/static/diagnostics/ilamb.yaml
  backend/static/diagnostics/pmp.yaml
  backend/tests/test_core/test_diagnostic_metadata.py
  changelog/82.improvement.md
  frontend/src/client/types.gen.ts
Due: mypy

docs: stop repeating pre-release in the reference dataset wording
  backend/src/ref_backend/core/diagnostic_metadata.py
  backend/static/diagnostics/esmvaltool.yaml
  backend/static/diagnostics/ilamb.yaml
  backend/static/diagnostics/pmp.yaml
  changelog/82.improvement.md
  frontend/src/client/types.gen.ts
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/route.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

docs: add the changelog fragment for the pre-commit fix
  changelog/84.trivial.md
Due: none

Bump version: 0.5.0 → 0.5.1
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/83.improvement.md
  changelog/84.trivial.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

fix: honour the selected MIP era in the figure gallery
  frontend/src/components/diagnostics/figureGallery.tsx
  frontend/src/lib/mipEras.test.ts
  frontend/src/lib/mipEras.ts
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/figures.tsx
Due: biome-format, biome-lint, typescript-typecheck

feat: make the MIP era loud and sticky on every results page
  frontend/src/components/charts/mipEraBar.tsx
  frontend/src/components/charts/mipEraContext.tsx
  frontend/src/components/charts/mipEraSections.tsx
  frontend/src/components/charts/mipEraSelector.tsx
  frontend/src/components/diagnostics/figureGallery.tsx
  frontend/src/components/execution/executionGroupTable.tsx
  frontend/src/hooks/useMipEra.ts
  frontend/src/lib/mipEras.ts
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/explorer.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/figures.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/groups.tsx
  frontend/src/routes/_app/executions.index.tsx
  frontend/src/routes/_app/explorer/themes.tsx
Due: biome-format, biome-lint, typescript-typecheck

feat: use the CMIP brand palette for eras and add the era bar to the diagnostics list
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/tests/test_api/test_routes/test_diagnostics.py
  frontend/src/client/@tanstack/react-query.gen.ts
  frontend/src/client/index.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/charts/mipEraBar.tsx
  frontend/src/lib/sourceTypes.ts
  frontend/src/routes/_app/diagnostics.index.tsx
  frontend/src/styles/global.css
Due: mypy, biome-format, biome-lint, typescript-typecheck

docs: add changelog fragments for the era bar
  changelog/85.feature.md
  changelog/85.fix.md
Due: none

refactor: tidy the era bar after review
  frontend/src/components/charts/mipEraBar.tsx
  frontend/src/components/diagnostics/figureGallery.tsx
  frontend/src/components/execution/executionGroupTable.tsx
  frontend/src/components/explorer/thematicContent.tsx
  frontend/src/hooks/useMipEra.ts
  frontend/src/lib/mipEras.test.ts
  frontend/src/lib/mipEras.ts
  frontend/src/routes/_app/diagnostics.index.tsx
  frontend/src/routes/_app/executions.index.tsx
  frontend/src/styles/global.css
Due: biome-format, biome-lint, typescript-typecheck

refactor: filter execution groups by era on the server and share the era scope
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/src/ref_backend/api/routes/executions.py
  backend/src/ref_backend/core/mip_eras.py
  backend/tests/test_api/test_routes/test_diagnostics.py
  frontend/src/client/@tanstack/react-query.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/charts/mipEraBar.tsx
  frontend/src/components/charts/mipEraContext.tsx
  frontend/src/components/charts/mipEraSections.test.tsx
  frontend/src/components/charts/mipEraSections.tsx
  frontend/src/components/diagnostics/figureGallery.tsx
  frontend/src/components/execution/executionGroupTable.tsx
  frontend/src/hooks/useMipEra.ts
  frontend/src/lib/mipEras.test.ts
  frontend/src/lib/mipEras.ts
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/explorer.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/figures.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/groups.tsx
  frontend/src/routes/_app/diagnostics.index.tsx
  frontend/src/routes/_app/executions.index.tsx
  frontend/src/routes/_app/explorer/themes.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

fix: keep the era when clearing the executions filters
  frontend/src/components/execution/executionGroupTable.tsx
  frontend/src/hooks/useMipEra.ts
  frontend/src/lib/mipEras.ts
  frontend/src/routes/_app/executions.index.tsx
Due: biome-format, biome-lint, typescript-typecheck

fix: address CodeRabbit review
  backend/src/ref_backend/api/routes/diagnostics.py
  frontend/src/components/diagnostics/diagnosticsFilter.tsx
  frontend/src/components/diagnostics/figureGallery.tsx
  frontend/src/routes/_app/diagnostics.index.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

Bump version: 0.5.1 → 0.6.0
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/85.feature.md
  changelog/85.fix.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

refactor: tidy the about endpoint after review
  backend/src/ref_backend/api/routes/utils.py
  backend/src/ref_backend/models/about.py
  backend/tests/test_api/test_routes/test_utils.py
  frontend/src/components/app/versionInfo.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

feat: expose version and results freshness information
  backend/src/ref_backend/api/routes/utils.py
  backend/src/ref_backend/models/__init__.py
  backend/src/ref_backend/models/about.py
  backend/tests/test_api/test_routes/test_utils.py
  frontend/src/client/@tanstack/react-query.gen.ts
  frontend/src/client/index.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/app/footer.test.tsx
  frontend/src/components/app/footer.tsx
  frontend/src/components/app/index.ts
  frontend/src/components/app/versionInfo.tsx
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
  frontend/vitest.config.ts
Due: mypy, biome-format, biome-lint, typescript-typecheck

docs: add the changelog fragment for the version information
  changelog/86.feature.md
Due: none
