Repository Climate-REF/ref-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-forbidden-files, mypy, biome-format, biome-lint, typescript-typecheck

.pre-commit-config.yaml:

# Unified pre-commit config for frontend and backend
# See https://pre-commit.com for more information
ci:
  autofix_prs: false
  autoupdate_schedule: quarterly
  autoupdate_branch: pre-commit-autoupdate

# Combine excludes from both subprojects, and keep path scoping in hooks below
exclude: |
  (?x)^(
      backend/tests/test-data/.*|
      backend/.venv/.*|
      backend/venv/.*|
      frontend/dist/.*|
      frontend/node_modules/.*|
      frontend/public/.*|
      frontend/src/client/.*|
      .*\.gen\.ts$
  )$

repos:
  # Shared general-purpose checks across the repo
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
        files: ^backend/
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: [--unsafe]
      - id: debug-statements
        files: ^backend/
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Backend: Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.7
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend: mypy and check that no forbidden files are present
  - repo: local
    hooks:
      - id: backend-forbidden-files
        name: backend forbidden files
        entry: found Copier update rejection files; review them and remove them
        language: fail
        files: "\\.rej$"

      - id: mypy
        name: mypy (backend)
        entry: make -C backend mypy
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
        files: ^backend/

  # Frontend: Biome format + lint
  - repo: local
    hooks:
      - id: biome-format
        name: Biome format (write)
        entry: bash -lc "cd frontend && npx --yes @biomejs/biome check --write"
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|md|css)$
        pass_filenames: true
      - id: biome-lint
        name: Biome lint
        entry: bash -lc "cd frontend && npx --yes @biomejs/biome check"
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true

      # Frontend: TypeScript typecheck
      - id: typescript-typecheck
        name: TypeScript typecheck
        entry: bash -lc "cd frontend && npx --yes tsc --noEmit"
        language: system
        pass_filenames: false
        files: ^frontend/

feat: start fleshing out frontend
  backend/src/ref_backend/core/aft.py
  backend/src/ref_backend/models.py
  backend/static/aft/ref_mapping.yaml
  frontend/src/client/@tanstack/react-query.gen.ts
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/datasets/diagnosticSummaryTable.tsx
  frontend/src/components/diagnostics/diagnosticCard.tsx
  frontend/src/components/diagnostics/diagnosticsFilter.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/route.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

chore: Fix build
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/route.tsx
Due: biome-format, biome-lint, typescript-typecheck

feat: Mark placeholders as red
  frontend/src/components/explorer/explorerCard.tsx
  frontend/src/components/explorer/explorerCardContent.tsx
  frontend/src/components/explorer/theme/atmosphere.tsx
  frontend/src/components/explorer/theme/earthSystem.tsx
  frontend/src/components/explorer/theme/impactAndAdaptation.tsx
  frontend/src/components/explorer/theme/land.tsx
  frontend/src/components/explorer/theme/sea.tsx
  frontend/src/components/explorer/types.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_app/explorer/diagnostics.tsx
  frontend/src/routes/_app/explorer/route.tsx
  frontend/src/routes/_app/explorer/sources.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: Fix build
  frontend/src/components/explorer/sourceExplorer.tsx
  frontend/src/components/explorer/sourceExplorerContent.tsx
  frontend/src/components/explorer/sourceSelect.tsx
Due: biome-format, biome-lint, typescript-typecheck

docs: Update
  backend/src/ref_backend/builder.py
  frontend/src/routes/_app/explorer/themes.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

chore: Widen the auto detected outliers
  backend/src/ref_backend/core/outliers.py
  frontend/src/components/explorer/explorerCard.tsx
  frontend/src/components/explorer/explorerThemeLayout.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

chore: Add error tooltip
  frontend/src/components/diagnostics/diagnosticCard.tsx
  frontend/src/routes/_app/diagnostics.index.tsx
Due: biome-format, biome-lint, typescript-typecheck

Add the name on the diagnostic card
  frontend/src/components/diagnostics/diagnosticCard.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/route.tsx
  frontend/src/routes/_app/executions.$groupId.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: Sort columns so that metric and statistic are last
  frontend/src/components/execution/values/valuesDataTable.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: txt
  frontend/src/components/execution/values/valuesDataTable.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: More text tweaks
  frontend/src/components/execution/values/values.tsx
  frontend/src/components/explorer/content/ensembleChartContent.tsx
  frontend/src/components/explorer/theme/atmosphere.tsx
Due: biome-format, biome-lint, typescript-typecheck

Remove GWL note
  frontend/src/routes/_app/diagnostics.index.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: Clean up tooltips
  frontend/src/components/diagnostics/ensembleChart.tsx
  frontend/src/components/execution/values/boxWhiskerShape.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: don't include example timeseries
  frontend/src/components/explorer/theme/atmosphere.tsx
Due: biome-format, biome-lint, typescript-typecheck

feat: Split the series and the scalar tabs
  frontend/src/components/diagnostics/cardTemplateGenerator.tsx
  frontend/src/components/diagnostics/ensembleChart.tsx
  frontend/src/components/execution/values/scalarDataTable.tsx
  frontend/src/components/execution/values/seriesDataTable.tsx
  frontend/src/components/execution/values/sparkline.tsx
  frontend/src/components/execution/values/values.tsx
  frontend/src/hooks/useSeriesProcessor.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/route.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/scalars.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/series.tsx
  frontend/src/routes/_app/executions.$groupId.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: Fix broken build
  frontend/src/components/diagnostics/comparisonChartCard.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/route.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/scalars.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/series.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: Disable scroll restoration
  frontend/src/main.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: Disable tabs when no data is available
  frontend/src/components/ui/tabs.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/route.tsx
  frontend/src/routes/_app/executions.$groupId.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: Filter sea
  frontend/src/components/explorer/theme/sea.tsx
  frontend/src/routes/content/about.mdx
Due: biome-format, biome-lint, typescript-typecheck

chore: Set minimum size
  frontend/src/components/app/navbarLogo.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: Add plausible analytics for user tracking
  frontend/package-lock.json
  frontend/package.json
  frontend/src/routes/__root.tsx
  frontend/src/routes/_app/explorer/route.tsx
  netlify.toml
Due: biome-format, biome-lint, typescript-typecheck

fix: Include missing item
  frontend/src/components/explorer/theme/sea.tsx
Due: biome-format, biome-lint, typescript-typecheck

unify toml deployments
  frontend/netlify.toml
  netlify.toml
Due: typescript-typecheck

chore: Reorder
  frontend/netlify.toml
Due: typescript-typecheck

chore: More cleanup
  frontend/netlify.toml
Due: typescript-typecheck

feat: Add theme drop down
  frontend/src/components/diagnostics/diagnosticsFilter.tsx
  frontend/src/components/explorer/explorerCardContent.tsx
  frontend/src/components/explorer/theme/earthSystem.tsx
  frontend/src/components/explorer/types.ts
Due: biome-format, biome-lint, typescript-typecheck

chore: lowercase ilamb slugs
  backend/static/aft/ref_mapping.yaml
Due: none

chore: add thetao
  backend/static/aft/ref_mapping.yaml
Due: none

chore: Add burnt area to 5.4
  backend/static/aft/ref_mapping.yaml
Due: none

chore: More tweaks to the mapping
  backend/static/aft/ref_mapping.yaml
Due: none

feat: add reference datasets
  backend/pyproject.toml
  backend/src/ref_backend/core/config.py
  backend/src/ref_backend/core/diagnostic_metadata.py
  backend/src/ref_backend/models.py
  backend/static/diagnostics/metadata.yaml
  backend/uv.lock
  docs/explorer-scientific-content-framework.md
  docs/scientific-content-strategy.md
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/datasets/diagnosticSummaryTable.tsx
  frontend/src/components/diagnostics/diagnosticCard.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/route.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

chore: Add reference dataset information
  backend/static/diagnostics/metadata.yaml
  frontend/src/components/diagnostics/diagnosticCard.tsx
  frontend/src/components/diagnostics/diagnosticsFilter.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: Add more text
  frontend/src/routes/_app/explorer/route.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: More content
  frontend/src/routes/_app/diagnostics.index.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: Add tooltip
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/route.tsx
Due: biome-format, biome-lint, typescript-typecheck

feat: Add taylor diagrams
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/explorer/content/index.ts
  frontend/src/components/explorer/content/taylorDiagramContent.tsx
  frontend/src/components/explorer/content/taylorDiagramContentWrapper.tsx
  frontend/src/components/explorer/explorerCardContent.tsx
  frontend/src/components/explorer/theme/land.tsx
  frontend/src/components/explorer/theme/sea.tsx
  frontend/src/components/explorer/types.ts
Due: biome-format, biome-lint, typescript-typecheck

fix: Don't always run migrations
  backend/src/ref_backend/core/ref.py
Due: mypy

chore: Fix build
  frontend/src/components/explorer/explorerCardContent.tsx
Due: biome-format, biome-lint, typescript-typecheck

Update climate_ref
  backend/pyproject.toml
  backend/uv.lock
Due: none

chore: Add series outputs
  backend/src/ref_backend/models.py
  frontend/src/components/execution/values/series/seriesLegendSidebar.tsx
  frontend/src/components/execution/values/series/seriesVisualization.tsx
  frontend/src/components/execution/values/values.tsx
  frontend/src/components/explorer/theme/land.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/series.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck
