Repository Climate-REF/ref-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-forbidden-files, mypy, biome-format, biome-lint, typescript-typecheck

.pre-commit-config.yaml:

# Unified pre-commit config for frontend and backend
# See https://pre-commit.com for more information
ci:
  autofix_prs: false
  autoupdate_schedule: quarterly
  autoupdate_branch: pre-commit-autoupdate

# Combine excludes from both subprojects, and keep path scoping in hooks below
exclude: |
  (?x)^(
      backend/tests/test-data/.*|
      backend/.venv/.*|
      backend/venv/.*|
      frontend/dist/.*|
      frontend/node_modules/.*|
      frontend/public/.*|
      frontend/src/client/.*|
      .*\.gen\.ts$
  )$

repos:
  # Shared general-purpose checks across the repo
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
        files: ^backend/
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: [--unsafe]
      - id: debug-statements
        files: ^backend/
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Backend: Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.7
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend: mypy and check that no forbidden files are present
  - repo: local
    hooks:
      - id: backend-forbidden-files
        name: backend forbidden files
        entry: found Copier update rejection files; review them and remove them
        language: fail
        files: "\\.rej$"

      - id: mypy
        name: mypy (backend)
        entry: make -C backend mypy
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
        files: ^backend/

  # Frontend: Biome format + lint
  - repo: local
    hooks:
      - id: biome-format
        name: Biome format (write)
        entry: bash -lc "cd frontend && npx --yes @biomejs/biome check --write"
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|md|css)$
        pass_filenames: true
      - id: biome-lint
        name: Biome lint
        entry: bash -lc "cd frontend && npx --yes @biomejs/biome check"
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true

      # Frontend: TypeScript typecheck
      - id: typescript-typecheck
        name: TypeScript typecheck
        entry: bash -lc "cd frontend && npx --yes tsc --noEmit"
        language: system
        pass_filenames: false
        files: ^frontend/

Rename the changelog fragment to the PR number
  changelog/95.fix.md
Due: none

Link out to the Zenodo record, GMD paper and discussion board
  frontend/src/routes/_app/diagnostics.index.tsx
Due: biome-format, biome-lint, typescript-typecheck

Add changelog fragment
  changelog/96.docs.md
Due: none

Match the citation style used elsewhere and lead the changelog with a verb
  changelog/96.docs.md
  frontend/src/routes/_app/diagnostics.index.tsx
Due: biome-format, biome-lint, typescript-typecheck

Cite the published GMD paper instead of the preprint
  changelog/96.docs.md
  frontend/src/content/glossary.mdx
  frontend/src/content/introduction-ref-v1.mdx
  frontend/src/routes/_app/diagnostics.index.tsx
Due: biome-format, biome-lint, typescript-typecheck

Bump version: 0.7.0 → 0.7.1
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/93.fix.md
  changelog/93.improvement.md
  changelog/94.improvement.md
  changelog/95.fix.md
  changelog/96.docs.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

Correct reference dataset labels to match the climate-ref providers
  backend/static/collections/1-1_sea-ice-sensitivity.yaml
  backend/static/collections/1-2_amoc.yaml
  backend/static/collections/1-3_enso.yaml
  backend/static/collections/1-4_sst-sss-bias.yaml
  backend/static/collections/2-1_soil-carbon.yaml
  backend/static/collections/2-2_gross-primary-production.yaml
  backend/static/collections/2-3_runoff.yaml
  backend/static/collections/2-4_surface-soil-moisture.yaml
  backend/static/collections/2-5_net-ecosystem-carbon-balance.yaml
  backend/static/collections/2-6_leaf-area-index.yaml
  backend/static/collections/3-1_annual-cycle.yaml
  backend/static/collections/3-6_cloud-radiative-effects.yaml
  backend/static/collections/3-7_cloud-scatterplots.yaml
  backend/static/collections/4-5_historical-changes.yaml
  backend/static/collections/5-3_global-warming-levels.yaml
  backend/static/collections/5-4_fire-climate-drivers.yaml
  backend/static/diagnostics/esmvaltool.yaml
  backend/static/diagnostics/ilamb.yaml
  backend/static/diagnostics/pmp.yaml
Due: none

Add changelog fragment
  changelog/98.fix.md
Due: none

Match dataset type prefixes to the core enum and show full dataset names
  backend/static/collections/1-6_sea-ice-area.yaml
  backend/static/collections/4-5_historical-changes.yaml
  backend/static/diagnostics/esmvaltool.yaml
  backend/static/diagnostics/ilamb.yaml
  changelog/98.fix.md
  frontend/src/components/explorer/explorerCardContent.tsx
Due: biome-format, biome-lint, typescript-typecheck

Keep collection descriptions in step with the corrected dataset names
  backend/static/collections/1-2_amoc.yaml
  backend/static/collections/1-4_sst-sss-bias.yaml
  backend/static/collections/2-1_soil-carbon.yaml
  backend/static/collections/2-3_runoff.yaml
  backend/static/collections/2-4_surface-soil-moisture.yaml
  backend/static/collections/2-5_net-ecosystem-carbon-balance.yaml
  backend/static/collections/2-6_leaf-area-index.yaml
Due: none

Bump version: 0.7.1 → 0.7.2
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/98.fix.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

Fix the annual cycle explorer cards that filtered on statistic names the data no longer uses
  backend/static/collections/4-5_historical-changes.yaml
  backend/static/collections/5-4_fire-climate-drivers.yaml
Due: none

Add changelog fragment
  changelog/100.fix.md
Due: none

Fix the AMOC and cloud radiative effects explorer cards
  backend/static/collections/1-2_amoc.yaml
  backend/static/collections/3-6_cloud-radiative-effects.yaml
  frontend/src/components/explorer/explorerCardGroup.tsx
Due: biome-format, biome-lint, typescript-typecheck

Update changelog fragment
  changelog/100.fix.md
Due: none

Bump version: 0.7.2 → 0.7.3
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/100.fix.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

fix(backend): refresh read-only database views
  backend/pyproject.toml
  backend/src/ref_backend/core/config.py
  backend/src/ref_backend/core/ref.py
  backend/uv.lock
Due: mypy

docs: add read-only database changelog
  changelog/97.improvement.md
Due: none

docs: align changelog fragment with PR
  changelog/103.improvement.md
Due: none

chore: tweak docstring
  backend/src/ref_backend/core/config.py
  changelog/103.improvement.md
Due: mypy

Add a CMIP7 call to action on the dashboard and explorer
  frontend/src/components/app/cmip7AvailabilityCta.test.tsx
  frontend/src/components/app/cmip7AvailabilityCta.tsx
  frontend/src/routes/_app/explorer/route.tsx
  frontend/src/routes/index.tsx
Due: biome-format, biome-lint, typescript-typecheck

Add changelog fragment
  changelog/104.feature.md
Due: none

Tidy the CMIP7 call to action after review
  frontend/src/components/app/cmip7AvailabilityCta.test.tsx
  frontend/src/components/app/cmip7AvailabilityCta.tsx
  frontend/src/routes/index.tsx
Due: biome-format, biome-lint, typescript-typecheck

Loop over the CTA variants in the test so every Biome version formats it the same way
  frontend/src/components/app/cmip7AvailabilityCta.test.tsx
Due: biome-format, biome-lint, typescript-typecheck

Add a region picker to the regional trend cards
  backend/static/collections/4-5_historical-changes.yaml
  frontend/src/components/explorer/content/ensembleChartContent.tsx
  frontend/src/components/explorer/content/filterControls.tsx
  frontend/src/components/explorer/content/seriesChartContent.tsx
  frontend/src/components/explorer/thematicContent.tsx
  frontend/src/components/explorer/types.ts
  frontend/src/lib/ipccRegions.test.ts
  frontend/src/lib/ipccRegions.ts
Due: biome-format, biome-lint, typescript-typecheck

Add changelog fragment
  changelog/105.improvement.md
Due: none

Fold the filter bar into the hook and drop dead exclude lines
  backend/static/collections/4-5_historical-changes.yaml
  frontend/src/components/explorer/content/ensembleChartContent.tsx
  frontend/src/components/explorer/content/filterControls.tsx
  frontend/src/components/explorer/content/seriesChartContent.tsx
Due: biome-format, biome-lint, typescript-typecheck

Default the region picker to the Mediterranean
  backend/static/collections/4-5_historical-changes.yaml
  frontend/src/components/explorer/content/filterControls.tsx
Due: biome-format, biome-lint, typescript-typecheck

Publish releases automatically when a tag is pushed
  .github/workflows/release.yaml
Due: none

Add changelog fragment
  changelog/106.trivial.md
Due: none

Grant the release workflow write access explicitly
  .github/workflows/release.yaml
Due: none

Bump version: 0.7.3 → 0.7.4
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/103.improvement.md
  changelog/104.feature.md
  changelog/105.improvement.md
  changelog/106.trivial.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

Add a per-model view of runs and ensemble position
  backend/src/ref_backend/api/main.py
  backend/src/ref_backend/api/routes/climate_models.py
  backend/src/ref_backend/core/model_ensemble.py
  backend/src/ref_backend/core/model_runs.py
  backend/src/ref_backend/models/__init__.py
  backend/src/ref_backend/models/climate_models.py
  backend/tests/test_api/test_routes/test_climate_models.py
  backend/tests/test_core/test_model_ensemble.py
  frontend/src/client/@tanstack/react-query.gen.ts
  frontend/src/client/index.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/app/navbar.tsx
  frontend/src/components/dataTable/columnToggle.tsx
  frontend/src/components/models/diagnosticRunsTable.tsx
  frontend/src/components/models/ensembleComparisonTable.tsx
  frontend/src/components/models/ensemblePositionBar.test.tsx
  frontend/src/components/models/ensemblePositionBar.tsx
  frontend/src/components/models/failedRunsTable.tsx
  frontend/src/components/models/modelTable.tsx
  frontend/src/components/models/runOutcomeBar.test.tsx
  frontend/src/components/models/runOutcomeBar.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_app/models.$sourceId.tsx
  frontend/src/routes/_app/models.index.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

Add changelog fragment
  changelog/107.feature.md
Due: none

Count each execution group once, and only its deciding execution
  backend/src/ref_backend/api/routes/climate_models.py
  backend/src/ref_backend/core/mip_eras.py
  backend/src/ref_backend/core/model_ensemble.py
  backend/src/ref_backend/core/model_runs.py
  backend/src/ref_backend/models/climate_models.py
  backend/tests/test_api/test_routes/test_climate_models.py
  backend/tests/test_core/test_model_ensemble_retries.py
  backend/tests/test_core/test_model_runs.py
  changelog/107.feature.md
  frontend/src/client/types.gen.ts
  frontend/src/components/app/navbar.tsx
  frontend/src/components/dataTable/columnToggle.tsx
  frontend/src/components/models/failedRunsTable.tsx
  frontend/src/components/models/outcomes.ts
  frontend/src/components/models/runOutcomeBar.test.tsx
  frontend/src/components/models/runOutcomeBar.tsx
  frontend/src/routes/_app/models.$sourceId.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

Fold the era filter into the values query and lean on the stdlib
  backend/src/ref_backend/api/routes/climate_models.py
  backend/src/ref_backend/core/model_ensemble.py
  backend/src/ref_backend/core/model_runs.py
  backend/tests/test_api/test_routes/test_climate_models.py
  backend/tests/test_core/test_model_ensemble.py
  backend/tests/test_core/test_model_ensemble_retries.py
  frontend/src/client/types.gen.ts
  frontend/src/components/models/ensembleComparisonTable.tsx
  frontend/src/components/models/ensemblePositionBar.tsx
  frontend/src/components/models/outcomes.ts
  frontend/src/lib/format.ts
  frontend/src/routes/_app/models.$sourceId.tsx
  frontend/src/routes/_app/models.index.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

Keep the quartiles working on the oldest supported Python
  backend/src/ref_backend/core/model_ensemble.py
Due: mypy

Warn when a chart plots more than one reference curve
  frontend/src/components/execution/values/series/seriesVisualization.tsx
  frontend/src/components/execution/values/series/utils.ts
Due: biome-format, biome-lint, typescript-typecheck

Add changelog fragment
  changelog/108.improvement.md
Due: none

Take the reference count from the chart metadata
  changelog/108.improvement.md
  frontend/src/components/execution/values/series/seriesVisualization.tsx
  frontend/src/components/execution/values/series/utils.ts
Due: biome-format, biome-lint, typescript-typecheck
