Repository Climate-REF/ref-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-forbidden-files, mypy, biome-format, biome-lint, typescript-typecheck

.pre-commit-config.yaml:

# Unified pre-commit config for frontend and backend
# See https://pre-commit.com for more information
ci:
  autofix_prs: false
  autoupdate_schedule: quarterly
  autoupdate_branch: pre-commit-autoupdate

# Combine excludes from both subprojects, and keep path scoping in hooks below
exclude: |
  (?x)^(
      backend/tests/test-data/.*|
      backend/.venv/.*|
      backend/venv/.*|
      frontend/dist/.*|
      frontend/node_modules/.*|
      frontend/public/.*|
      frontend/src/client/.*|
      .*\.gen\.ts$
  )$

repos:
  # Shared general-purpose checks across the repo
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
        files: ^backend/
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: [--unsafe]
      - id: debug-statements
        files: ^backend/
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Backend: Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.7
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend: mypy and check that no forbidden files are present
  - repo: local
    hooks:
      - id: backend-forbidden-files
        name: backend forbidden files
        entry: found Copier update rejection files; review them and remove them
        language: fail
        files: "\\.rej$"

      - id: mypy
        name: mypy (backend)
        entry: make -C backend mypy
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
        files: ^backend/

  # Frontend: Biome format + lint
  - repo: local
    hooks:
      - id: biome-format
        name: Biome format (write)
        entry: bash -lc "cd frontend && npx --yes @biomejs/biome check --write"
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|md|css)$
        pass_filenames: true
      - id: biome-lint
        name: Biome lint
        entry: bash -lc "cd frontend && npx --yes @biomejs/biome check"
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true

      # Frontend: TypeScript typecheck
      - id: typescript-typecheck
        name: TypeScript typecheck
        entry: bash -lc "cd frontend && npx --yes tsc --noEmit"
        language: system
        pass_filenames: false
        files: ^frontend/

feat: expose Prometheus metrics at /metrics
  backend/pyproject.toml
  backend/src/ref_backend/builder.py
  backend/src/ref_backend/metrics.py
  backend/tests/test_api/test_metrics.py
  backend/uv.lock
  changelog/119.feature.md
Due: mypy

chore: add changelog fragment
  changelog/120.feature.md
Due: none

test: assert metrics record an instrumented route
  backend/src/ref_backend/metrics.py
  backend/tests/test_api/test_metrics.py
Due: mypy

Bump version: 0.7.12 → 0.8.0
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/119.fix.md
  changelog/120.feature.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

feat: set an explicit Cache-Control policy on every response
  backend/src/ref_backend/builder.py
  backend/src/ref_backend/caching.py
  backend/src/ref_backend/core/config.py
  backend/tests/test_caching.py
Due: mypy

chore: add changelog fragment
  changelog/121.improvement.md
Due: none

fix: align the cache test and changelog with the settings defaults
  backend/src/ref_backend/caching.py
  backend/tests/test_caching.py
  changelog/121.improvement.md
Due: mypy

fix: derive the uncached paths from the API prefix and narrow the static default
  backend/src/ref_backend/caching.py
  backend/tests/test_caching.py
Due: mypy

refactor: decide the HTML cache policy in the middleware
  backend/src/ref_backend/builder.py
  backend/src/ref_backend/caching.py
  backend/tests/test_caching.py
  backend/tests/test_spa_fallback.py
Due: mypy

fix: keep the long TTL on HTML result files
  backend/src/ref_backend/caching.py
  backend/tests/test_caching.py
Due: mypy

fix: mark errors and no-store routes on every status
  backend/src/ref_backend/caching.py
  backend/tests/test_caching.py
Due: mypy

feat: send Vary: Origin on every API response
  backend/src/ref_backend/caching.py
  backend/tests/test_caching.py
Due: mypy

chore: add changelog fragment
  changelog/122.improvement.md
Due: none

Update zod to v4 and drop the router zod adapter
  changelog/79.trivial.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/routes/_app/datasets.index.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/explorer.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/figures.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/groups.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/scalars.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/series.tsx
  frontend/src/routes/_app/executions.$groupId/scalar.tsx
  frontend/src/routes/_app/executions.$groupId/series.tsx
  frontend/src/routes/_app/executions.index.tsx
  frontend/src/routes/_app/explorer/themes.tsx
  frontend/src/routes/_app/models.$sourceId.tsx
  frontend/src/routes/_app/models.index.tsx
Due: biome-format, biome-lint, typescript-typecheck

fix: match Vary names as whole tokens
  backend/src/ref_backend/caching.py
  backend/tests/test_caching.py
Due: mypy

Handle unknown errors in the dataset route error component
  frontend/src/routes/_app/datasets.$slug.tsx
Due: biome-format, biome-lint, typescript-typecheck

Add changelog fragment
  changelog/111.trivial.md
Due: none

Bump version: 0.8.0 → 0.8.1
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/111.trivial.md
  changelog/121.improvement.md
  changelog/122.improvement.md
  changelog/79.trivial.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

fix: chronologically ordered x-axes for seasonal graphs; hover tooltips for the correct elements in firefox
  changelog/127.fix.md
  frontend/package-lock.json
  frontend/src/components/diagnostics/ensembleChart.interaction.test.tsx
  frontend/src/components/diagnostics/ensembleChart.test.ts
  frontend/src/components/diagnostics/ensembleChart.tsx
  frontend/src/components/execution/values/boxWhiskerShape.tsx
Due: biome-format, biome-lint, typescript-typecheck

fix: unified display behavior of the executions and dataset lists
  changelog/127.fix.md
  frontend/src/components/execution/executionGroupTable.tsx
  frontend/src/routes/_app/datasets.index.tsx
  frontend/src/routes/_app/executions.index.tsx
Due: biome-format, biome-lint, typescript-typecheck
