Repository Climate-REF/ref-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-forbidden-files, mypy, biome-format, biome-lint, typescript-typecheck

.pre-commit-config.yaml:

# Unified pre-commit config for frontend and backend
# See https://pre-commit.com for more information
ci:
  autofix_prs: false
  autoupdate_schedule: quarterly
  autoupdate_branch: pre-commit-autoupdate

# Combine excludes from both subprojects, and keep path scoping in hooks below
exclude: |
  (?x)^(
      backend/tests/test-data/.*|
      backend/.venv/.*|
      backend/venv/.*|
      frontend/dist/.*|
      frontend/node_modules/.*|
      frontend/public/.*|
      frontend/src/client/.*|
      .*\.gen\.ts$
  )$

repos:
  # Shared general-purpose checks across the repo
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
        files: ^backend/
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: [--unsafe]
      - id: debug-statements
        files: ^backend/
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Backend: Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.7
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend: mypy and check that no forbidden files are present
  - repo: local
    hooks:
      - id: backend-forbidden-files
        name: backend forbidden files
        entry: found Copier update rejection files; review them and remove them
        language: fail
        files: "\\.rej$"

      - id: mypy
        name: mypy (backend)
        entry: make -C backend mypy
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
        files: ^backend/

  # Frontend: Biome format + lint
  - repo: local
    hooks:
      - id: biome-format
        name: Biome format (write)
        entry: bash -lc "cd frontend && npx --yes @biomejs/biome check --write"
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|md|css)$
        pass_filenames: true
      - id: biome-lint
        name: Biome lint
        entry: bash -lc "cd frontend && npx --yes @biomejs/biome check"
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true

      # Frontend: TypeScript typecheck
      - id: typescript-typecheck
        name: TypeScript typecheck
        entry: bash -lc "cd frontend && npx --yes tsc --noEmit"
        language: system
        pass_filenames: false
        files: ^frontend/

Bump version: 0.6.0 → 0.6.1
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/86.feature.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

feat: add a staging mode and scope values to the selected MIP era
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/src/ref_backend/api/routes/utils.py
  backend/src/ref_backend/core/mip_eras.py
  backend/src/ref_backend/models/about.py
  backend/tests/test_api/test_routes/test_diagnostics.py
  backend/tests/test_api/test_routes/test_utils.py
  changelog/87.feature.md
  changelog/87.fix.md
  changelog/87.improvement.md
  frontend/src/client/@tanstack/react-query.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/app/index.ts
  frontend/src/components/app/stagingBanner.test.tsx
  frontend/src/components/app/stagingBanner.tsx
  frontend/src/components/charts/mipEraBar.tsx
  frontend/src/components/charts/mipEraSections.test.tsx
  frontend/src/components/charts/mipEraSections.tsx
  frontend/src/components/explorer/content/ensembleChartContent.tsx
  frontend/src/components/explorer/content/seriesChartContent.tsx
  frontend/src/components/explorer/content/taylorDiagramContentWrapper.tsx
  frontend/src/hooks/useMetricValues.ts
  frontend/src/hooks/useStagingMode.ts
  frontend/src/lib/mipEras.test.ts
  frontend/src/lib/mipEras.ts
  frontend/src/routes/__root.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/scalars.tsx
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/series.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

Bump version: 0.6.1 → 0.6.2
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/87.feature.md
  changelog/87.fix.md
  changelog/87.improvement.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

Reload the page when a chunk fails to load
  frontend/src/main.tsx
Due: biome-format, biome-lint, typescript-typecheck

Add changelog fragment
  changelog/88.fix.md
Due: none

chore: fix comment
  frontend/src/main.tsx
Due: biome-format, biome-lint, typescript-typecheck

Harden the chunk reload against blocked storage and cached HTML
  backend/src/ref_backend/builder.py
  changelog/88.fix.md
  frontend/src/main.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

Only reload when the cooldown was recorded
  frontend/src/main.tsx
Due: biome-format, biome-lint, typescript-typecheck

Render dataset types as short names and count execution groups per MIP era
  backend/src/ref_backend/api/routes/executions.py
  backend/src/ref_backend/core/mip_eras.py
  backend/src/ref_backend/models/datasets.py
  backend/src/ref_backend/models/executions.py
  frontend/src/client/types.gen.ts
Due: mypy

Rework the Data Explorer header
  frontend/src/content/data-health-warning.mdx
  frontend/src/routes/_app/explorer/route.tsx
Due: biome-format, biome-lint, typescript-typecheck

Move the datasets and executions headers out of the first card
  frontend/src/routes/_app/datasets.index.tsx
  frontend/src/routes/_app/executions.index.tsx
Due: biome-format, biome-lint, typescript-typecheck

Hoist the plain language toggle into the MIP era bar
  frontend/src/components/charts/mipEraBar.tsx
  frontend/src/components/explorer/thematicContent.tsx
  frontend/src/routes/_app/explorer/themes.tsx
Due: biome-format, biome-lint, typescript-typecheck

Show the CMIP7 execution count and group digits in the dashboard stats
  frontend/src/components/dashboard/executionStats.tsx
Due: biome-format, biome-lint, typescript-typecheck

Add experiment, source and variable columns to the datasets table
  frontend/src/components/datasets/datasetColumns.tsx
Due: biome-format, biome-lint, typescript-typecheck

Cycle the theme through light, dark and system
  frontend/index.html
  frontend/src/components/app/navbar.tsx
  frontend/src/hooks/useTheme.ts
Due: biome-format, biome-lint, typescript-typecheck

Space the labels and values in the version footer
  frontend/src/components/app/versionInfo.tsx
Due: biome-format, biome-lint, typescript-typecheck

Add changelog fragments for #89
  changelog/89.feature.md
  changelog/89.fix.md
  changelog/89.improvement.md
Due: none

Extract the page header the list pages share
  backend/src/ref_backend/core/mip_eras.py
  frontend/src/components/app/navbar.tsx
  frontend/src/components/app/pageHeader.tsx
  frontend/src/components/charts/mipEraBar.tsx
  frontend/src/content/data-health-warning.mdx
  frontend/src/hooks/useTheme.ts
  frontend/src/routes/_app/datasets.index.tsx
  frontend/src/routes/_app/diagnostics.index.tsx
  frontend/src/routes/_app/executions.index.tsx
  frontend/src/routes/_app/explorer/route.tsx
  frontend/src/routes/_app/explorer/themes.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

Act on the spec review
  changelog/89.fix.md
  frontend/src/components/datasets/datasetColumns.tsx
  frontend/src/components/explorer/thematicContent.tsx
  frontend/src/routes/_app/executions.resources.tsx
  frontend/src/routes/_app/explorer/themes.tsx
Due: biome-format, biome-lint, typescript-typecheck

Hide the facet columns for sources that carry no facets
  frontend/src/components/dashboard/executionStats.tsx
  frontend/src/components/datasets/datasetColumns.tsx
  frontend/src/components/datasets/datasetTable.tsx
  frontend/src/routes/_app/datasets.index.tsx
Due: biome-format, biome-lint, typescript-typecheck

Simplify the cleanup pass findings
  backend/src/ref_backend/core/mip_eras.py
  frontend/src/components/app/pageHeader.tsx
  frontend/src/components/charts/mipEraBar.tsx
  frontend/src/components/dashboard/executionStats.tsx
  frontend/src/components/datasets/datasetColumns.tsx
  frontend/src/hooks/useTheme.ts
  frontend/src/lib/format.ts
  frontend/src/lib/sourceTypes.ts
  frontend/src/routes/_app/diagnostics.index.tsx
  frontend/src/routes/_app/explorer/route.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

Line the main page headers up with each other
  frontend/src/routes/_app/diagnostics.index.tsx
  frontend/src/routes/_app/explorer/route.tsx
Due: biome-format, biome-lint, typescript-typecheck

Count the era totals the way the overall statistics count
  backend/src/ref_backend/core/mip_eras.py
  changelog/89.feature.md
  changelog/89.fix.md
  frontend/src/components/dashboard/executionStats.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

Point the data health note at the diagnostic collections
  frontend/src/content/data-health-warning.mdx
  frontend/src/content/introduction-ref-v1.mdx
  frontend/src/routes/_app/explorer/route.tsx
Due: biome-format, biome-lint, typescript-typecheck

Bump version: 0.6.2 → 0.6.3
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/88.fix.md
  changelog/89.feature.md
  changelog/89.fix.md
  changelog/89.improvement.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

Report resource usage in core hours
  frontend/src/components/execution/resourceUsageTable.tsx
  frontend/src/lib/format.ts
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/route.tsx
  frontend/src/routes/_app/executions.resources.tsx
Due: biome-format, biome-lint, typescript-typecheck

Add changelog for the core hours rework
  changelog/91.improvement.md
Due: none

Address the review of the core hours rework
  changelog/91.breaking.md
  changelog/91.improvement.md
  frontend/src/lib/format.test.ts
  frontend/src/lib/format.ts
  frontend/src/lib/resourceUsageCsv.test.ts
  frontend/src/lib/resourceUsageCsv.ts
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/route.tsx
  frontend/src/routes/_app/executions.resources.tsx
Due: biome-format, biome-lint, typescript-typecheck

Keep the resources page copy exact about what is counted
  frontend/src/routes/_app/executions.resources.tsx
Due: biome-format, biome-lint, typescript-typecheck

Report peak memory as a min and max range
  backend/src/ref_backend/core/resource_usage.py
  backend/tests/test_api/test_routes/test_executions.py
  changelog/91.improvement.md
  frontend/src/client/types.gen.ts
  frontend/src/components/execution/resourceUsageTable.tsx
  frontend/src/lib/resourceUsageCsv.test.ts
  frontend/src/lib/resourceUsageCsv.ts
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/route.tsx
  frontend/src/routes/_app/executions.resources.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

Separate the wall and CPU values in the CSV fixture
  frontend/src/lib/resourceUsageCsv.test.ts
Due: biome-format, biome-lint, typescript-typecheck

Bump version: 0.6.3 → 0.7.0
  CHANGELOG.md
  backend/pyproject.toml
  backend/uv.lock
  changelog/91.breaking.md
  changelog/91.improvement.md
  frontend/package.json
  towncrier.toml
Due: biome-format, typescript-typecheck

Scope diagnostic counts to the promoted version and dedupe the groupings
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/src/ref_backend/models/diagnostics.py
  backend/tests/test_api/test_routes/test_diagnostics.py
  changelog/92.fix.md
  changelog/92.improvement.md
  frontend/src/client/types.gen.ts
  frontend/src/lib/resourceUsageCsv.test.ts
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/route.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

Number the changelog fragments for this PR
  changelog/93.fix.md
  changelog/93.improvement.md
Due: none

Colour historical and esm-hist apart on every explorer chart
  backend/static/collections/1-2_amoc.yaml
  backend/static/collections/1-4_sst-sss-bias.yaml
  backend/static/collections/1-6_sea-ice-area.yaml
  backend/static/collections/2-1_soil-carbon.yaml
  backend/static/collections/2-2_gross-primary-production.yaml
  backend/static/collections/2-3_runoff.yaml
  backend/static/collections/2-4_surface-soil-moisture.yaml
  backend/static/collections/2-5_net-ecosystem-carbon-balance.yaml
  backend/static/collections/2-6_leaf-area-index.yaml
  backend/static/collections/2-7_snow-cover.yaml
  backend/static/collections/3-1_annual-cycle.yaml
  backend/static/collections/3-3_climate-variability-modes.yaml
  backend/static/collections/3-6_cloud-radiative-effects.yaml
  backend/static/collections/4-5_historical-changes.yaml
  backend/static/collections/5-4_fire-climate-drivers.yaml
  frontend/src/components/charts/experimentColors.test.ts
  frontend/src/components/charts/experimentColors.ts
  frontend/src/components/diagnostics/ensembleChart.tsx
  frontend/src/components/execution/values/series/seriesVisualization.tsx
  frontend/src/components/execution/values/series/utils.ts
  frontend/src/components/explorer/content/seriesChartContent.tsx
  frontend/src/components/explorer/content/taylorDiagramContent.tsx
  frontend/src/components/explorer/content/taylorDiagramContentWrapper.tsx
Due: biome-format, biome-lint, typescript-typecheck

Add changelog fragment
  changelog/94.improvement.md
Due: none

Address review: shared group colour, Taylor legend, keep fallback palette off reserved colours
  changelog/94.improvement.md
  frontend/src/components/charts/experimentColors.test.ts
  frontend/src/components/charts/experimentColors.ts
  frontend/src/components/diagnostics/ensembleChart.tsx
  frontend/src/components/execution/values/series/utils.ts
  frontend/src/components/explorer/content/taylorDiagramContent.tsx
  frontend/src/components/explorer/content/taylorDiagramContentWrapper.tsx
Due: biome-format, biome-lint, typescript-typecheck

Simplify: reuse category ordering, derive the unreserved palette once
  frontend/src/components/charts/experimentColors.test.ts
  frontend/src/components/charts/experimentColors.ts
  frontend/src/components/diagnostics/ensembleChart.tsx
  frontend/src/components/execution/values/series/utils.ts
  frontend/src/components/explorer/content/taylorDiagramContentWrapper.tsx
Due: biome-format, biome-lint, typescript-typecheck

chore: tweak text
  backend/src/ref_backend/api/routes/diagnostics.py
  backend/src/ref_backend/models/diagnostics.py
  changelog/93.improvement.md
  frontend/src/routes/_app/diagnostics.$providerSlug.$diagnosticSlug/route.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck

Proxy Plausible analytics through the backend
  backend/pyproject.toml
  backend/src/ref_backend/analytics.py
  backend/src/ref_backend/builder.py
  backend/tests/test_analytics.py
  backend/uv.lock
  changelog/92.fix.md
  frontend/src/routes/__root.tsx
Due: mypy, biome-format, biome-lint, typescript-typecheck
